# Introduction

### Business problem overview
In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the top business goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn.

In this project, you will analyse customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn and identify the main indicators of churn.

# Problem Statement

The telecom company in Southeast Asia is facing an increase in customer churn and wants to reduce the loss of high-value customers. They aim to predict churn in the ninth month using data from the previous three months. The company plans to analyze various factors such as demographics, usage patterns, service quality, and complaints to identify variables that affect churn. They will focus on high-value customers and build machine learning models for churn prediction. These models will help predict churn likelihood and identify important variables to address underlying issues and improve customer satisfaction.

These models will serve two purposes.

*   First, they will predict whether a high-value customer is likely to churn in
the near future. By gaining insights into this aspect, the company can take proactive steps such as offering special plans, discounts, or personalized offers to retain these customers.
*   Second, the models will identify important variables that strongly predict churn. These variables will shed light on why customers choose to switch to other networks, enabling the company to address underlying issues and improve customer satisfaction.

# Tasks Involved

**Task 1: Import libraries and load the dataset**

**Task 2: Understand and explore the data**
*   Analyze different feature types in the data
*   Handle missing values by imputation
*   Identify the relevant data required for the problem

**Task 3: Conduct feature engineering**
*   Extract new relevant features from the data set
*   Filter high-value customers
*   Derive the target variable “churn” based on the existing features

**Task 4: Visualize the data**
*   Analyze the data to extract relevant insights through informative visualizations
*   Look for any outliers and treat them

**Task 5: Modeling**
*   Divide the data into train-test splits
*   Handle class imbalance
*   Build different machine learning models and evaluate their performance
*   Tune the hyperparameters to optimize the performance for the best model
*   Train and evaluate a neural network model with the optimal combination of hyperparameters

**Task 6: Business insights and recommendations**
*   Understand the profitability of the telecommunication service program, and estimate the impact of your model using misclassification costs
*   Propose a solution to leverage customer interaction/feedback data and predict those who are highly likely to churn

# Task 1: Importing the required libraries and loading the data set

**Description**


In this task, you will load all the methods and packages required to perform the various tasks in this capstone project.

First, import the required packages and modules.

In [211]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 300)

Mount Google Drive to your VM.

In [212]:
# Import the required library to mount Google Drive
from google.colab import drive

# Mount your Google Drive to the Colab notebook
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Import the training data

In [213]:
# Read the training data from a CSV file stored in your Google Drive
churn = pd.read_csv('/content/drive/MyDrive/UMD/telecom_churn_data.csv')

In [214]:
# read the data
#churn = pd.read_csv("telecom_churn_data_final.csv")

Checklist:


*   Imported the required packages
*   Mounted your Google Drive to access the data
*   Imported the data

# Task 2: Understanding and exploring the data

### Description

In this task, you will explore the data that you have just loaded.

In [215]:
# look at initial rows of the data
churn.head(10)

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_ic_mou_9,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,roam_og_mou_9,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2t_mou_9,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2m_mou_9,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2f_mou_9,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_t2c_mou_9,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,loc_og_mou_9,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2t_mou_9,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2m_mou_9,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2f_mou_9,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_t2c_mou_9,std_og_mou_6,std_og_mou_7,std_og_mou_8,std_og_mou_9,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,isd_og_mou_9,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,spl_og_mou_9,og_others_6,og_others_7,og_others_8,og_others_9,total_og_mou_6,total_og_mou_7,total_og_mou_8,total_og_mou_9,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2t_mou_9,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2m_mou_9,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_t2f_mou_9,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,loc_ic_mou_9,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2t_mou_9,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2m_mou_9,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2f_mou_9,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_t2o_mou_9,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,std_ic_mou_9,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,total_ic_mou_9,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,spl_ic_mou_9,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,isd_ic_mou_9,ic_others_6,ic_others_7,ic_others_8,ic_others_9,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_num_9,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,last_day_rch_amt_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_2g_9,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_2g_mb_9,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,vol_3g_mb_9,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_3g_9,arpu_2g_6,arpu_2g_7,arpu_2g_8,arpu_2g_9,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,monthly_2g_6,monthly_2g_7,monthly_2g_8,monthly_2g_9,sachet_2g_6,sachet_2g_7,sachet_2g_8,sachet_2g_9,monthly_3g_6,monthly_3g_7,monthly_3g_8,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,214.816,213.803,21.100,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,0.00,0.00,0.00,0.00,NaN,NaN,0.16,NaN,NaN,NaN,4.13,NaN,NaN,NaN,1.15,NaN,NaN,NaN,5.44,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN,0.00,0.00,5.44,0.00,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00,NaN,4,3,2,6,362,252,252,0,252,252,252,0,6/21/2014,7/16/2014,08-08-2014,9/28/2014,252,252,252,0,6/21/2014,7/16/2014,08-08-2014,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN,0.0,0.0,0.0,NaN,1.0,1.0,1.0,NaN,252.0,252.0,252.0,NaN,30.13,1.32,5.75,0.0,83.57,150.76,109.61,0.00,212.17,212.17,212.17,NaN,212.17,212.17,212.17,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58
1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,355.074,268.321,86.285,24.11,78.68,7.68,18.34,15.74,99.84,304.76,53.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.88,74.56,7.68,18.34,11.51,75.94,291.86,53.76,0.00,0.00,0.00,0.00,0.00,2.91,0.00,0.00,35.39,150.51,299.54,72.11,0.23,4.11,0.00,0.00,0.00,0.46,0.13,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.23,4.58,0.13,0.00,0.0,0.00,0.00,0.0,4.68,23.43,12.76,0.00,0.00,0.0,0.0,0.00,40.31,178.53,312.44,72.11,1.61,29.91,29.23,116.09,17.48,65.38,375.58,56.93,0.00,8.93,3.61,0.00,19.09,104.23,408.43,173.03,0.00,0.00,2.35,0.00,5.90,0.00,12.49,15.01,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,5.90,0.00,14.84,15.01,26.83,104.23,423.28,188.04,0.00,0.00,0.00,0.00,1.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4,9,11,5,74,384,283,121,44,154,65,50,6/29/2014,7/31/2014,8/28/2014,9/30/2014,44,23,30,0,NaN,7/25/2014,08-10-2014,NaN,NaN,1.0,2.0,NaN,NaN,154.0,25.0,NaN,NaN,1.0,2.0,NaN,NaN,0.0,0.0,NaN,NaN,154.0,50.0,NaN,0.00,108.07,365.47,0.0,0.00,0.00,0.00,0.00,NaN,0.00,0.00,NaN,NaN,28.61,7.60,NaN,NaN,0.0,0.0,NaN,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00
2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,189.058,210.226,290.714,11.54,55.24,37.26,74.81,143.33,220.59,208.36,118.91,0.00,0.00,0.00,38.49,0.00,0.00,0.00,70.94,7.19,28.74,13.58,14.39,29.34,16.86,38.46,28.16,24.11,21.79,15.61,22.24,0.00,135.54,45.76,0.48,60.66,67.41,67.66,64.81,4.34,26.49,22.58,8.76,41.81,67.41,75.53,9.28,1.48,14.76,22.83,0.00,0.0,0.0,0.0,0.0,47.64,108.68,120.94,18.04,0.0,0.00,0.00,0.0,46.56,236.84,96.84,42.08,0.45,0.0,0.0,0.00,155.33,412.94,285.46,124.94,115.69,71.11,67.46,148.23,14.38,15.44,38.89,38.98,99.48,122.29,49.63,158.19,229.56,208.86,155.99,345.41,72.41,71.29,28.69,49.44,45.18,177.01,167.09,118.18,21.73,58.34,43.23,3.86,0.0,0.0,0.0,0.0,139.33,306.66,239.03,171.49,370.04,519.53,395.03,517.74,0.21,0.00,0.00,0.45,0.00,0.85,0.00,0.01,0.93,3.14,0.00,0.36,5,4,2,7,168,315,116,358,86,200,86,100,6/17/2014,7/24/2014,8/14/2014,9/29/2014,0,200,86,0,NaN,NaN,NaN,9/17/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,46.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,8.42,NaN,NaN,NaN,2.84,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,1.0,1103,0.00,0.00,4.17,0.00
3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,251.102,508.054,389.500,99.91,54.39,310.98,241.71,123.31,109.01,71.68,113.54,0.00,54.86,44.38,0.00,0.00,28.09,39.04,0.00,73.68,34.81,10.61,15.49,107.43,83.21,22.46,65.46,1.91,0.65,4.91,2.06,0.00,0.00,0.00,0.00,183.03,118.68,37.99,83.03,26.23,14.89,289.58,226.21,2.99,1.73,6.53,9.99,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,29.23,16.63,296.11,236.21,0.0,0.00,0.00,0.0,10.96,0.00,18.09,43.29,0.00,0.0,0.0,0.00,223.23,135.31,352.21,362.54,62.08,19.98,8.04,41.73,113.96,64.51,20.28,52.86,57.43,27.09,19.84,65.59,233.48,111.59,48.18,160.19,43.48,66.44,0.00,129.84,1.33,38.56,4.94,13.98,1.18,0.00,0.00,0.00,0.0,0.0,0.0,0.0,45.99,105.01,4.94,143.83,280.08,216.61,53.13,305.38,0.59,0.00,0.00,0.55,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.80,10,11,18,14,230,310,601,410,60,50,50,50,6/28/2014,7/31/2014,8/31/2014,9/30/2014,30,50,50,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,2491,0.00,0.00,0.00,0.00
4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,309.876,238.174,163.426,50.31,149.44,83.89,58.78,76.96,91.88,124.26,45.81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,50.31,149.44,83.89,58.78,67.64,91.88,124.26,37.89,0.00,0.00,0.00,1.93,0.00,0.00,0.00,0.00,117.96,241.33,208.16,98.61,0.00,0.00,0.00,0.00,9.31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,9.31,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,5.98,0.00,0.0,0.0,0.00,127.28,241.33,208.16,104.59,105.68,88.49,233.81,154.56,106.84,109.54,104.13,48.24,1.50,0.00,0.00,0.00,214.03,198.04,337.94,202.81,0.00,0.00,0.86,2.31,1.93,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.93,0.25,0.86,2.31,216.44,198.29,338.81,205.31,0.00,0.00,0.00,0.18,0.00,0.00,0.00,0.00,0.48,0.00,0.00,0.00,5,6,3,4,196,350,287,200,56,110,110,50,6/26/2014,7/28/2014,08-09-2014,9/28/2014,50,110,110,50,06-04-2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,56.0,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00
5,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,50.258,58.810,83.386,170.826,50.16,43.63,85.48,138.79,19.28,13.44,14.46,46.91,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,50.16,43.63,85.48,138.79,16.39,8.83,12.38,44.78,0.00,0.00,0.00,2.13,0.00,0.00,0.00,0.00,66.56,52.46,97.86,185.71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.88,4.61,2.08,0.00,0.0,0.0,0.0,0.0,2.88,4.61,2.08,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,69.44,57.08,99.94,185.71,28.73,30.03,56.26,68.38,49.19,57.44,62.46,84.01,0.00,0.00,0.00,0.00,77.93,87.48,118.73,152.39,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,77.03,71.06,37.93,52.03,0.0,0.0,0.0,0.0,77.03,71.06,37.93,52.03,155.39,158.76,157.13,205.39,0.43,0.21,0.23,0.53,0.00,0.00,0.00,0.00,0.00,0.00,0.23,0.43,2,2,3,3,120,0,130,130,120,0,130,130,6/19/2014,7/17/2014,8/24/2014,9/28/2014,120,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1471,0.00,0.00,0.00,0.00
6,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,429.023,190.704,255.114,114.751,71.03,45.03,76.66,15.23,262.73,49.24,92.08,50.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,71.03,45.03,76.14,15.23,252.23,48.71,80.63,50.33,10.38,0.00,0.00,0.00,0.11,0.00,0.00,0.00,333.64,93.74,156.78,65.56,0.00,0.00,0.51,0.00,0.00,0.53,11.45,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.53,11.96,0.00,0.0,0.00,0.00,0.0,0.11,0.53,0.00,0.00,0.00,0.0,0.0,0.35,333.76,94.81,168.74,65.91,1857.99,1427.04,1896.43,2334.88,248.64,336.96,265.28,231.41,20.24,22.69,2.51,6.19,2126.89,1786.71,2164.23,2572.49,0.00,0.00,0.00,0.00,1.39,0.76,2.60,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.39,0.76,2.60,0.00,2128.41,1788.06,2167.11,2572.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.11,0.58,0.28,0.00,15,10,11,7,499,222,294,141,90,37,50,30,6/28/2014,7/31/2014,8/28/2014,9/28/2014,37,24,10,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,1673,0.00,0.00,0.00,0.00
7,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,1349.850,3171.480,500.000,57.84,54.68,52.29,NaN,453.43,567.16,325.91,NaN,16.23,33.49,31.64,NaN,23.74,12.59,38.06,NaN,51.39,31.38,40.28,NaN,308.63,447.38,162.28,NaN,62.13,55.14,53.23,NaN,0.00,0.00,0.00,NaN,422.16,533.91,255.79,NaN,4.30,23.29,12.01,NaN,49.89,31.76,49.14,NaN,6.66,20.08,16.68,NaN,0.0,0.0,0.0,NaN,60.86,75.14,77.84,NaN,0.0,0.18,10.01,NaN,4.50,0.00,6.50,NaN,0.00,0.0,0.0,NaN,487.53,609.24,350.16,0.00,58.14,32.26,27.31,NaN,217.56,221.49,121.19,NaN,152.16,101.46,39.53,NaN,427.88,355.23,188.04,NaN,36.89,11.83,30.39,NaN,91.44,126.99,141.33,NaN,52.19,34.24,22.21,NaN,0.0,0.0,0.0,NaN,180.54,173.08,193.94,NaN,626.46,558.04,428.74,0.00,0.21,0.00,0.00,NaN,2.06,14.53,31.59,NaN,15.74,15.19,15.14,NaN,5,5,7,3,1580,790,3638,0,1580,790,1580,0,6/27/2014,7/25/2014,8/26/2014,9/30/2014,0,0,779,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.00
8,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,492.223,137.362,166.787,413.69,351.03,35.08,33.46,94.66,80.63,136.48,108.71,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,297.13,217.59,12.49,26.13,80.96,70.58,50.54,34.58,0.00,0.00,0.00,0.00,0.00,0.00,7.15,0.00,378.09,288.18,63.04,60.71,116.56,133.43,22.58,7.33,13.69,10.04,75.69,74.13,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,130.26,143.48,98.28,81.46,0.0,0.00,0.00,0.0,0.00,0.00,10.23,0.00,0.00,0.0,0.0,0.00,508.36,431.66,171.56,142.18,23.84,9.84,0.31,4.03,57.58,13.98,15.48,17.34,0.00,0.00,0.00,0.00,81.43,23.83,15.79,21.38,0.00,0.58,0.10,0.00,22.43,4.08,0.65,13.53,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,22.43,4.66,0.75,13.53,103.86,28.49,16.54,34.91,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,19,21,14,15,437,601,120,186,90,154,30,36,6/25/2014,7/31/2014,8/30/2014,9/30/2014,50,0,10,0,NaN,7/31/2014,8/23/2014,NaN,NaN,2.0,3.0,NaN,NaN,154.0,23.0,NaN,NaN,2.0,3.0,NaN,NaN,0.0,0.0,NaN,NaN,177.0,69.0,NaN,0.00,356.00,0.03,0.0,0.00,750.95,11.94,0.00,NaN,0.00,19.83,NaN,NaN,0.00,0.00,NaN,NaN,0.0,0.0,NaN,0,1,0,0,0,1,3,0,0,0,0,0,0,0,0,0,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.00
9,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,119.518,247.435,170.231,160.042,33.89,30.11,22.43,27.84,63.48,54.16,78.34,123.48,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,33.89,30.11,22.43,27.84,38.03,40.06,34.93,37.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,71.93,70.18,57.36,65.11,0.00,0.00,0.00,0.00,25.45,14.09,43.41,83.26,0.00,0.00,0.00,2.94,0.0,0.0,0.0,0.0,25.45,14.09,43.41,86.21,0.0,0.00,0.00,0.0,0.66,0.00,0.00,0.00,0.00,0.0,0.0,0.00,98.04,84.28,100.78,151.33,129.34,124.34,49.93,313.38,132.94,96.24,122.58,65.06,0.40,0.00,0.00,0.48,262.69,220.59,172.51,378.93,0.30,0.00,0.00,4.38,32.86,78.21,1.74,1.18,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,33.16,78.21,1.74,5.56,303.98,327.31,219.86,412.63,0.00,0.00,0.00,0.00,8.11,28.49,45.59,28.13,0.00,0.00,0.00,0.00,4,2,5,3,220,195,210,180,110,154,50,130,6/29/2014,7/23/2014,8/29/2014,9/20/2014,110,154,30,50,NaN,7/23/2014,NaN,NaN,NaN,1.0,NaN,NaN,NaN,154.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,154.0,NaN,NaN,0.00,7.37,0.00,0.0,0.00,0.00,0.00,0.00,NaN,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.0,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,1.0,NaN,NaN,902,0.00,0.00,0.00,0.00

### Data Description

There are several types of data that is collected from customers by a telecomminucation service provider. Some of the information that you have to look for data analysis and EDA is given below:
- Recharging of the service: There are several variables that describe the duration, maximum, total amount and average of the recharge price of the service they avail, which include the 2G service, the 3G service, internet packages and call services
  - av_rech_amt_data: Average recharge data amount
  - count_rech_2g: Count of 2G recharges by the customer
  - count_rech_3g: Count of 3G recharges by the customer
  - max_rech_data: Maximum recharge for mobile internet
  - total_rech_data: Total recharge for mobile internet
  - max_rech_amt: Maximum recharge amount
  - total_rech_amt: Total recharge amount
  - total_rech_num: Total number of times customer recharged

- Call and Internet service: They specify the amount of calls, type of calling service used (STD, ISD, Roaming), type of internet service and amount of internet usage over a specific period of time
  - total_calls_mou: Total minutes of voice calls
  - total_internet_mb: Total amount of internet usage in MB
  - arpu: Average revenue per user
  - onnet_mou: The minutes of usage for all kind of calls within the same operator network
  - offnet_mou: The minutes of usage for all kind of calls outside the operator T network
  - Minutes of usage for outgoing calls for each type of call service:
    - loc_og_mou
    - std_og_mou
    - isd_og_mou
    - spl_og_mou
    - roam_og_mou
    - total_og_mou
  - Minutes of usage for incoming calls for each type of call service:
    - loc_ic_mou
    - std_ic_mou
    - isd_ic_mou
    - spl_ic_mou
    - roam_ic_mou
    - total_ic_mou
  - total_rech_num: Total number of recharge
  - total_rech_amt: Total amount of recharge
  - max_rech_amt: Maximum recharge amount
  - total_rech_data: Total recharge for mobile internet
  - max_rech_data: Maximum recharge for mobile internet
  - av_rech_amt_data: Average recharge amount for mobile internet
  - vol_2g_mb: Mobile internet usage volumn for 2G
  - vol_3g_mb: Mobile internet usage volumn for 3G


The categorical variables present in the data set are given below:
  - night_pck_user: Prepaid service schemes for use during specific night hours only
  - fb_user: Service scheme to avail services of Facebook and similar social networking sites



Most of the variables have their values recorded for 4 different months. The variable names end with the month number as explained below:
- *.6: KPI for the month of June
- *.7: KPI for the month of July
- *.8: KPI for the month of August
- *.9: KPI for the month of September

The rest of variables have been defined in the detailed data description.

Print information about the dataframe

In [216]:
# summary of different feature types
churn.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 225 columns):
 #    Column                    Dtype
---   ------                    -----
 0    circle_id                 int64
 1    loc_og_t2o_mou            float64
 2    std_og_t2o_mou            float64
 3    loc_ic_t2o_mou            float64
 4    last_date_of_month_6      object
 5    last_date_of_month_7      object
 6    last_date_of_month_8      object
 7    last_date_of_month_9      object
 8    arpu_6                    float64
 9    arpu_7                    float64
 10   arpu_8                    float64
 11   arpu_9                    float64
 12   onnet_mou_6               float64
 13   onnet_mou_7               float64
 14   onnet_mou_8               float64
 15   onnet_mou_9               float64
 16   offnet_mou_6              float64
 17   offnet_mou_7              float64
 18   offnet_mou_8              float64
 19   offnet_mou_9              float64
 20   roam_ic_mou_6             float64
 21   roam_ic_mou_7             float64
 22   roam_ic_mou_8             float64
 23   roam_ic_mou_9             float64
 24   roam_og_mou_6             float64
 25   roam_og_mou_7             float64
 26   roam_og_mou_8             float64
 27   roam_og_mou_9             float64
 28   loc_og_t2t_mou_6          float64
 29   loc_og_t2t_mou_7          float64
 30   loc_og_t2t_mou_8          float64
 31   loc_og_t2t_mou_9          float64
 32   loc_og_t2m_mou_6          float64
 33   loc_og_t2m_mou_7          float64
 34   loc_og_t2m_mou_8          float64
 35   loc_og_t2m_mou_9          float64
 36   loc_og_t2f_mou_6          float64
 37   loc_og_t2f_mou_7          float64
 38   loc_og_t2f_mou_8          float64
 39   loc_og_t2f_mou_9          float64
 40   loc_og_t2c_mou_6          float64
 41   loc_og_t2c_mou_7          float64
 42   loc_og_t2c_mou_8          float64
 43   loc_og_t2c_mou_9          float64
 44   loc_og_mou_6              float64
 45   loc_og_mou_7              float64
 46   loc_og_mou_8              float64
 47   loc_og_mou_9              float64
 48   std_og_t2t_mou_6          float64
 49   std_og_t2t_mou_7          float64
 50   std_og_t2t_mou_8          float64
 51   std_og_t2t_mou_9          float64
 52   std_og_t2m_mou_6          float64
 53   std_og_t2m_mou_7          float64
 54   std_og_t2m_mou_8          float64
 55   std_og_t2m_mou_9          float64
 56   std_og_t2f_mou_6          float64
 57   std_og_t2f_mou_7          float64
 58   std_og_t2f_mou_8          float64
 59   std_og_t2f_mou_9          float64
 60   std_og_t2c_mou_6          float64
 61   std_og_t2c_mou_7          float64
 62   std_og_t2c_mou_8          float64
 63   std_og_t2c_mou_9          float64
 64   std_og_mou_6              float64
 65   std_og_mou_7              float64
 66   std_og_mou_8              float64
 67   std_og_mou_9              float64
 68   isd_og_mou_6              float64
 69   isd_og_mou_7              float64
 70   isd_og_mou_8              float64
 71   isd_og_mou_9              float64
 72   spl_og_mou_6              float64
 73   spl_og_mou_7              float64
 74   spl_og_mou_8              float64
 75   spl_og_mou_9              float64
 76   og_others_6               float64
 77   og_others_7               float64
 78   og_others_8               float64
 79   og_others_9               float64
 80   total_og_mou_6            float64
 81   total_og_mou_7            float64
 82   total_og_mou_8            float64
 83   total_og_mou_9            float64
 84   loc_ic_t2t_mou_6          float64
 85   loc_ic_t2t_mou_7          float64
 86   loc_ic_t2t_mou_8          float64
 87   loc_ic_t2t_mou_9          float64
 88   loc_ic_t2m_mou_6          float64
 89   loc_ic_t2m_mou_7          float64
 90   loc_ic_t2m_mou_8          float64
 91   loc_ic_t2m_mou_9          float64
 92   loc_ic_t2f_mou_6          float64
 93   loc_ic_t2f_mou_7          float64
 94   loc_ic_t2f_mou_8          float64
 95   loc_ic_t2f_mou_9          float64
 96   loc_ic_mou_6              float64
 97   loc_ic_mou_7              float64
 98   loc_ic_mou_8              float64
 99   loc_ic_mou_9              float64
 100  std_ic_t2t_mou_6          float64
 101  std_ic_t2t_mou_7          float64
 102  std_ic_t2t_mou_8          float64
 103  std_ic_t2t_mou_9          float64
 104  std_ic_t2m_mou_6          float64
 105  std_ic_t2m_mou_7          float64
 106  std_ic_t2m_mou_8          float64
 107  std_ic_t2m_mou_9          float64
 108  std_ic_t2f_mou_6          float64
 109  std_ic_t2f_mou_7          float64
 110  std_ic_t2f_mou_8          float64
 111  std_ic_t2f_mou_9          float64
 112  std_ic_t2o_mou_6          float64
 113  std_ic_t2o_mou_7          float64
 114  std_ic_t2o_mou_8          float64
 115  std_ic_t2o_mou_9          float64
 116  std_ic_mou_6              float64
 117  std_ic_mou_7              float64
 118  std_ic_mou_8              float64
 119  std_ic_mou_9              float64
 120  total_ic_mou_6            float64
 121  total_ic_mou_7            float64
 122  total_ic_mou_8            float64
 123  total_ic_mou_9            float64
 124  spl_ic_mou_6              float64
 125  spl_ic_mou_7              float64
 126  spl_ic_mou_8              float64
 127  spl_ic_mou_9              float64
 128  isd_ic_mou_6              float64
 129  isd_ic_mou_7              float64
 130  isd_ic_mou_8              float64
 131  isd_ic_mou_9              float64
 132  ic_others_6               float64
 133  ic_others_7               float64
 134  ic_others_8               float64
 135  ic_others_9               float64
 136  total_rech_num_6          int64
 137  total_rech_num_7          int64
 138  total_rech_num_8          int64
 139  total_rech_num_9          int64
 140  total_rech_amt_6          int64
 141  total_rech_amt_7          int64
 142  total_rech_amt_8          int64
 143  total_rech_amt_9          int64
 144  max_rech_amt_6            int64
 145  max_rech_amt_7            int64
 146  max_rech_amt_8            int64
 147  max_rech_amt_9            int64
 148  date_of_last_rech_6       object
 149  date_of_last_rech_7       object
 150  date_of_last_rech_8       object
 151  date_of_last_rech_9       object
 152  last_day_rch_amt_6        int64
 153  last_day_rch_amt_7        int64
 154  last_day_rch_amt_8        int64
 155  last_day_rch_amt_9        int64
 156  date_of_last_rech_data_6  object
 157  date_of_last_rech_data_7  object
 158  date_of_last_rech_data_8  object
 159  date_of_last_rech_data_9  object
 160  total_rech_data_6         float64
 161  total_rech_data_7         float64
 162  total_rech_data_8         float64
 163  total_rech_data_9         float64
 164  max_rech_data_6           float64
 165  max_rech_data_7           float64
 166  max_rech_data_8           float64
 167  max_rech_data_9           float64
 168  count_rech_2g_6           float64
 169  count_rech_2g_7           float64
 170  count_rech_2g_8           float64
 171  count_rech_2g_9           float64
 172  count_rech_3g_6           float64
 173  count_rech_3g_7           float64
 174  count_rech_3g_8           float64
 175  count_rech_3g_9           float64
 176  av_rech_amt_data_6        float64
 177  av_rech_amt_data_7        float64
 178  av_rech_amt_data_8        float64
 179  av_rech_amt_data_9        float64
 180  vol_2g_mb_6               float64
 181  vol_2g_mb_7               float64
 182  vol_2g_mb_8               float64
 183  vol_2g_mb_9               float64
 184  vol_3g_mb_6               float64
 185  vol_3g_mb_7               float64
 186  vol_3g_mb_8               float64
 187  vol_3g_mb_9               float64
 188  arpu_3g_6                 float64
 189  arpu_3g_7                 float64
 190  arpu_3g_8                 float64
 191  arpu_3g_9                 float64
 192  arpu_2g_6                 float64
 193  arpu_2g_7                 float64
 194  arpu_2g_8                 float64
 195  arpu_2g_9                 float64
 196  night_pck_user_6          float64
 197  night_pck_user_7          float64
 198  night_pck_user_8          float64
 199  night_pck_user_9          float64
 200  monthly_2g_6              int64
 201  monthly_2g_7              int64
 202  monthly_2g_8              int64
 203  monthly_2g_9              int64
 204  sachet_2g_6               int64
 205  sachet_2g_7               int64
 206  sachet_2g_8               int64
 207  sachet_2g_9               int64
 208  monthly_3g_6              int64
 209  monthly_3g_7              int64
 210  monthly_3g_8              int64
 211  monthly_3g_9              int64
 212  sachet_3g_6               int64
 213  sachet_3g_7               int64
 214  sachet_3g_8               int64
 215  sachet_3g_9               int64
 216  fb_user_6                 float64
 217  fb_user_7                 float64
 218  fb_user_8                 float64
 219  fb_user_9                 float64
 220  aon                       int64
 221  aug_vbc_3g                float64
 222  jul_vbc_3g                float64
 223  jun_vbc_3g                float64
 224  sep_vbc_3g                float64
dtypes: float64(179), int64(34), object(12)
memory usage: 171.7+ MB

Display the summary statistics for the data set

In [217]:
# analysis of data statistics
churn.describe(include='all')

,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_ic_mou_9,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,roam_og_mou_9,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2t_mou_9,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2m_mou_9,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2f_mou_9,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_t2c_mou_9,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,loc_og_mou_9,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2t_mou_9,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2m_mou_9,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2f_mou_9,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_t2c_mou_9,std_og_mou_6,std_og_mou_7,std_og_mou_8,std_og_mou_9,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,isd_og_mou_9,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,spl_og_mou_9,og_others_6,og_others_7,og_others_8,og_others_9,total_og_mou_6,total_og_mou_7,total_og_mou_8,total_og_mou_9,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2t_mou_9,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2m_mou_9,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_t2f_mou_9,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,loc_ic_mou_9,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2t_mou_9,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2m_mou_9,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2f_mou_9,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_t2o_mou_9,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,std_ic_mou_9,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,total_ic_mou_9,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,spl_ic_mou_9,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,isd_ic_mou_9,ic_others_6,ic_others_7,ic_others_8,ic_others_9,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_num_9,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,total_rech_amt_9,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,max_rech_amt_9,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,date_of_last_rech_9,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,last_day_rch_amt_9,date_of_last_rech_data_6,date_of_last_rech_data_7,date_of_last_rech_data_8,date_of_last_rech_data_9,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_2g_9,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_2g_mb_9,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,vol_3g_mb_9,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_3g_9,arpu_2g_6,arpu_2g_7,arpu_2g_8,arpu_2g_9,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,monthly_2g_6,monthly_2g_7,monthly_2g_8,monthly_2g_9,sachet_2g_6,sachet_2g_7,sachet_2g_8,sachet_2g_9,monthly_3g_6,monthly_3g_7,monthly_3g_8,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,99999.0,98981.0,98981.0,98981.0,99999,99398,98899,98340,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.0,96140.0,94621.0,92254.0,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.0,96140.0,94621.0,92254.0,96062.000000,96140.000000,94621.000000,92254.000000,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,96062.000000,96140.000000,94621.000000,92254.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,98392,98232,96377,95239,99999.000000,99999.000000,99999.000000,99999.000000,25153,25571,26339,25922,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.00000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
unique,NaN,NaN,NaN,NaN,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,31,31,30,NaN,NaN,NaN,NaN,30,31,31,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,9/30/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,9/29/2014,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,9/29/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,99999,99398,98899,98340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16960,17288,14706,22623,NaN,NaN,NaN,NaN,1888,1813,1998,2329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,282.987358,278.536648,279.154731,261.645069,132.395875,133.670805,133.018098,130.302327,197.935577,197.045133,196.574803,190.337222,9.950013,7.149898,7.292981,6.343841,13.911337,9.818732,9.971890,8.555519,47.100763,46.473010,45.887806,44.584446,93.342088,91.397131,91.755128,90.463192,3.751013,3.792985,3.677991,3.655123,1.123056,1.368500,1.433821,1.232726,144.201175,141.670476,141.328209,138.709970,79.829870,83.299598,83.282673,82.342919,87.299624,90.804137,89.838390,86.276622,1.129011,1.115010,1.067792,1.042362,0.0,0.0,0.0,0.0,168.261218,175.221436,174.191498,169.664466,0.798277,0.776572,0.791247,0.723892,3.916811,4.978279,5.053769,4.412767,0.454157,0.030235,0.033372,0.047456,305.133424,310.231175,304.119513,289.279198,47.922365,47.990520,47.211362,46.281794,107.475650,107.120493,108.460515,106.155471,12.084305,12.599697,11.751834,12.173105,167.491059,167.719540,167.432575,164.619293,9.575993,10.011904,9.883921,9.432479,20.722240,21.656415,21.183211,19.620913,2.156397,2.216923,2.085004,2.173419,0.0,0.0,0.0,0.0,32.457179,33.887833,33.154735,31.229344,200.130037,202.853055,198.750783,189.214260,0.061557,0.033585,0.040361,0.163137,7.460608,8.334936,8.442001,8.063003,0.854656,1.012960,0.970800,1.017162,7.558806,7.700367,7.212912,6.893019,327.514615,322.962970,324.157122,303.345673,104.637486,104.752398,107.728207,101.943889,NaN,NaN,NaN,NaN,63.156252,59.385804,62.641716,43.901249,NaN,NaN,NaN,NaN,2.463802,2.666419,2.651999,2.441170,126.393392,126.729459,125.717301,124.94144,1.864668,2.044699,2.016288,1.781807,0.599133,0.621720,0.635711,0.659363,192.600982,200.981292,197.526489,192.734315,51.904956,51.229937,50.170154,44.719701,121.396219,128.995847,135.410689,136.056613,89.555057,89.384120,91.173849,100.264116,86.398003,85.914450,86.599478,93.712026,0.025086,0.023034,0.020844,0.015971,0.079641,0.083221,0.081001,0.068781,0.389384,0.439634,0.450075,0.393104,0.075921,0.078581,0.082941,0.086341,0.074781,0.080401,0.084501,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,328.439770,338.156291,344.474791,341.998630,297.207406,308.794148,308.951589,308.477668,316.851613,325.862803,327.170662,319.396092,72.825411,73.447948,68.402466,57.137537,71.443196,58.455762,64.713221,58.438186,150.856393,155.318705,151.184830,147.995390,162.780544,157.492308,156.537048,158.681454,14.230438,14.264986,13.270996,13.457549,5.448946,7.533445,6.783335,5.619021,251.751489,248.731086,245.914311,245.934517,252.476533,263.631042,265.486090,267.184991,255.617850,269.347911,271.757783,261.407396,7.984970,8.599406,7.905971,8.261770,0.0,0.0,0.0,0.0,389.948499,408.922934,411.633049,405.138658,25.765248,25.603052,25.544471,21.310751,14.936449,20.661570,17.855111,16.328227,4.125911,2.161717,2.323464,3.635466,463.419481,480.031178,478.150031,468.980002,140.258485,145.795055,137.239552,140.130610,171.713903,169.423620,169.723759,165.492803,40.140895,42.977442,39.125379,43.840776,254.124029,256.242707,250.025523,249.845070,54.330607,57.411971,55.073186,53.376273,80.793414,86.521393,83.683565,74.913050,16.495594,16.454061,15.812580,15.978601,0.0,0.0,0.0,0.0,106.283386,113.720168,110.127008,101.982303,291.651671,298.124954,289.321094,284.823024,0.160920,0.155725,0.146147,0.527860,59.722948,65.219829,63.813098,63.505379,11.955164,12.673099,13.284348,12.381172,7.078405,7.070422,7.203753,7.096261,398.019701,408.114237,416.540455,404.588583,120.614894,124.523970,126.902505,125.375109,NaN,NaN,NaN,NaN,97.356649,95.915385,104.431816,90.809712,NaN,NaN,NaN,NaN,2.789128,3.031593,3.074987,2.516339,108.477235,109.765267,109.437851,111.36376,2.570254,2.768332,2.720132,2.214701,1.274428,1.394524,1.422827,1.411513,192.646318,196.791224,191.301305,188.400286,213.356445,212.302217,212.347892,198.653570,544.247227,541.494013,558.775335,577.394194,193.124653,195.893924,188.180936,216.291992,172.767523,176.379871,168.247852,171.384224,0.156391,0.150014,0.142863,0.125366,0.295058,0.304395,0.299568,0.278120,1.497320,1.636230,1.630263,1.347140,0.363371,0.387231,0.384947,0.384978,0.568344,0.628334,0.660234,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.500000,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-30.820000,-26.040000,-24.490000,-71.090000,-35.830000,-15.480000,-55.830000,-45.740000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,93.411500,86.980500,84.126000,62.685000,7.380000,6.660000,6.460000,5.330000,34.730000,32.190000,31.630000,27.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.660000,1.630000,1.600000,1.360000,9.880000,10.025000,9.810000,8.810000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.110000,17.480000,17.110000,15.560000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.740000,43.010000,38.580000,25.510000,2.990000,3.230000,3.280000,3.290000,17.290000,18.590000,18.930000,18.560000,0.000000,0.000000,0.000000,0.000000,30.390000,32.460000,32.740000,32.290000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.010000,0.000000,38.530000,41.190000,38.290000,32.370000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,109.000000,100.000000,90.000000,52.000000,30.000000,30.000000,30.000000,28.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,25.000000,25.000000,25.000000,25.00000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,82.000000,92.000000,87.000000,69.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,109.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,197.704000,191.640000,192.080000,176.849000,34.310000,32.330000,32.360000,29.840000,96.310000,91.735000,92.140000,87.290000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.910000,11.610000,11.730000,11.260000,41.030000,40.430000,40.360000,39.120000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.110000,63.685000,63.730000,61.840000,0.000000,0.000000,0.000000,0.000000,3.950000,3.635000,3.310000,2.500000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,11.640000,11.090000,10.410000,8.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,145.140000,141.530000,138.610000,125.460000,15.690000,15.740000,16.030000,15.660000,56.490000,57.080000,58.240000,56.610000,0.880000,0.930000,0.930000,0.960000,92.160000,92.550000,93.830000,91.640000,0.000000,0.000000,0.000000,0.000000,2.030000,2.040000,2.030000,1.740000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,5.890000,5.960000,5.880000,5.380000,114.740000,116.340000,114.660000,105.890000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,6.000000,5.000000,5.000000,230.000000,220.000000,225.000000,200.000000,110.000000,110.000000,98.000000,61.000000,NaN,NaN,NaN,NaN,30.000000,30.000000,30.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,2.000000,145.000000,145.000000,145.000000,145.00000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,154.000000,154.000000,154.000000,164.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.480000,0.420000,0.880000,2.605000,10.830000,8.810000,9.270000,14.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000

Create a copy of the original data

In [218]:
# create backup of data
original = churn.copy()

Analyze the different types of features present in the data set

In [219]:
# create column name list by types of columns
id_cols = ['circle_id']

date_cols = ['last_date_of_month_6',
             'last_date_of_month_7',
             'last_date_of_month_8',
             'last_date_of_month_9',
             'date_of_last_rech_6',
             'date_of_last_rech_7',
             'date_of_last_rech_8',
             'date_of_last_rech_9',
             'date_of_last_rech_data_6',
             'date_of_last_rech_data_7',
             'date_of_last_rech_data_8',
             'date_of_last_rech_data_9'
            ]

cat_cols =  ['night_pck_user_6',
             'night_pck_user_7',
             'night_pck_user_8',
             'night_pck_user_9',
             'fb_user_6',
             'fb_user_7',
             'fb_user_8',
             'fb_user_9'
            ]

num_cols = [column for column in churn.columns if column not in id_cols + date_cols + cat_cols]

# print the number of columns in each list
print("#ID cols: %d\n#Date cols:%d\n#Numeric cols:%d\n#Category cols:%d" % (len(id_cols), len(date_cols), len(num_cols), len(cat_cols)))

# check if we have missed any column or not
print(len(id_cols) + len(date_cols) + len(num_cols) + len(cat_cols) == churn.shape[1])

#ID cols: 1
#Date cols:12
#Numeric cols:204
#Category cols:8
True

# Handling missing values

### Details on Missing Values

There are several types of features present in this data set. Some of the information that you have to look for missing value treatment is given below:


*   If there are missing values in the columns corresponding to 'Recharging of the service' variables, this is because the customer did not recharge that month.


*   If the columns corresponding to 'Call and Internet service' variables that have more than 70% of missing values, you can drop those variables from the data set. If not, then you can use the MICE technique to impute the values in those missing entries.


*   If there are missing values in the categorical variables, this means that there is another scheme that the customer has availed from the telecomminucation service.

Find the ratio of missing values in each column in the data set

In [220]:
# look at missing value ratio in each column
100 * churn.isna().mean().sort_values(ascending=False)

arpu_3g_6                   74.846748
av_rech_amt_data_6          74.846748
fb_user_6                   74.846748
night_pck_user_6            74.846748
total_rech_data_6           74.846748
max_rech_data_6             74.846748
count_rech_2g_6             74.846748
count_rech_3g_6             74.846748
date_of_last_rech_data_6    74.846748
arpu_2g_6                   74.846748
av_rech_amt_data_7          74.428744
date_of_last_rech_data_7    74.428744
max_rech_data_7             74.428744
total_rech_data_7           74.428744
arpu_3g_7                   74.428744
fb_user_7                   74.428744
count_rech_3g_7             74.428744
arpu_2g_7                   74.428744
night_pck_user_7            74.428744
count_rech_2g_7             74.428744
arpu_3g_9                   74.077741
max_rech_data_9             74.077741
date_of_last_rech_data_9    74.077741
total_rech_data_9           74.077741
arpu_2g_9                   74.077741
count_rech_2g_9             74.077741
night_pck_user_9            74.077741
count_rech_3g_9             74.077741
av_rech_amt_data_9          74.077741
fb_user_9                   74.077741
date_of_last_rech_data_8    73.660737
night_pck_user_8            73.660737
fb_user_8                   73.660737
total_rech_data_8           73.660737
av_rech_amt_data_8          73.660737
arpu_3g_8                   73.660737
count_rech_3g_8             73.660737
arpu_2g_8                   73.660737
max_rech_data_8             73.660737
count_rech_2g_8             73.660737
loc_og_t2m_mou_9             7.745077
ic_others_9                  7.745077
std_og_mou_9                 7.745077
isd_og_mou_9                 7.745077
isd_ic_mou_9                 7.745077
spl_og_mou_9                 7.745077
spl_ic_mou_9                 7.745077
og_others_9                  7.745077
onnet_mou_9                  7.745077
offnet_mou_9                 7.745077
std_ic_mou_9                 7.745077
loc_ic_t2t_mou_9             7.745077
loc_ic_t2m_mou_9             7.745077
std_ic_t2o_mou_9             7.745077
loc_ic_t2f_mou_9             7.745077
std_ic_t2f_mou_9             7.745077
loc_ic_mou_9                 7.745077
std_ic_t2m_mou_9             7.745077
std_og_t2c_mou_9             7.745077
std_ic_t2t_mou_9             7.745077
std_og_t2f_mou_9             7.745077
std_og_t2m_mou_9             7.745077
roam_og_mou_9                7.745077
std_og_t2t_mou_9             7.745077
loc_og_t2c_mou_9             7.745077
roam_ic_mou_9                7.745077
loc_og_t2t_mou_9             7.745077
loc_og_mou_9                 7.745077
loc_og_t2f_mou_9             7.745077
std_ic_t2f_mou_8             5.378054
loc_og_t2c_mou_8             5.378054
loc_ic_t2f_mou_8             5.378054
spl_ic_mou_8                 5.378054
loc_ic_mou_8                 5.378054
loc_og_t2t_mou_8             5.378054
loc_ic_t2m_mou_8             5.378054
std_ic_mou_8                 5.378054
loc_og_t2f_mou_8             5.378054
std_ic_t2t_mou_8             5.378054
loc_ic_t2t_mou_8             5.378054
loc_og_mou_8                 5.378054
std_ic_t2o_mou_8             5.378054
onnet_mou_8                  5.378054
std_og_t2m_mou_8             5.378054
isd_ic_mou_8                 5.378054
std_og_t2c_mou_8             5.378054
std_og_t2f_mou_8             5.378054
offnet_mou_8                 5.378054
roam_ic_mou_8                5.378054
std_og_mou_8                 5.378054
ic_others_8                  5.378054
loc_og_t2m_mou_8             5.378054
isd_og_mou_8                 5.378054
spl_og_mou_8                 5.378054
std_ic_t2m_mou_8             5.378054
og_others_8                  5.378054
std_og_t2t_mou_8             5.378054
roam_og_mou_8                5.378054
date_of_last_rech_9          4.760048
spl_ic_mou_6                 3.937039
ic_others_6                  3.937039
std_ic_mou_6                 3.937039
isd_ic_mou_6                 3.937039
std_ic_t2f_mou_6             3.937039
std_ic_t2o_mou_6             3.937039
loc_og_t2f_mou_6             3.937039
loc_og_t2t_mou_6             3.937039
std_og_t2c_mou_6             3.937039
std_og_t2f_mou_6             3.937039
std_og_t2m_mou_6             3.937039
isd_og_mou_6                 3.937039
std_og_t2t_mou_6             3.937039
spl_og_mou_6                 3.937039
loc_og_mou_6                 3.937039
og_others_6                  3.937039
loc_og_t2c_mou_6             3.937039
loc_ic_t2t_mou_6             3.937039
std_ic_t2m_mou_6             3.937039
loc_og_t2m_mou_6             3.937039
std_og_mou_6                 3.937039
offnet_mou_6                 3.937039
onnet_mou_6                  3.937039
roam_og_mou_6                3.937039
loc_ic_t2f_mou_6             3.937039
std_ic_t2t_mou_6             3.937039
roam_ic_mou_6                3.937039
loc_ic_t2m_mou_6             3.937039
loc_ic_mou_6                 3.937039
loc_og_t2t_mou_7             3.859039
std_og_t2c_mou_7             3.859039
std_og_t2f_mou_7             3.859039
std_og_t2m_mou_7             3.859039
onnet_mou_7                  3.859039
offnet_mou_7                 3.859039
std_og_t2t_mou_7             3.859039
loc_og_mou_7                 3.859039
roam_ic_mou_7                3.859039
loc_og_t2c_mou_7             3.859039
loc_og_t2f_mou_7             3.859039
roam_og_mou_7                3.859039
loc_og_t2m_mou_7             3.859039
std_ic_t2m_mou_7             3.859039
loc_ic_t2f_mou_7             3.859039
ic_others_7                  3.859039
std_og_mou_7                 3.859039
std_ic_mou_7                 3.859039
loc_ic_t2t_mou_7             3.859039
loc_ic_mou_7                 3.859039
std_ic_t2f_mou_7             3.859039
std_ic_t2t_mou_7             3.859039
spl_ic_mou_7                 3.859039
og_others_7                  3.859039
isd_ic_mou_7                 3.859039
spl_og_mou_7                 3.859039
isd_og_mou_7                 3.859039
std_ic_t2o_mou_7             3.859039
loc_ic_t2m_mou_7             3.859039
date_of_last_rech_8          3.622036
date_of_last_rech_7          1.767018
last_date_of_month_9         1.659017
date_of_last_rech_6          1.607016
last_date_of_month_8         1.100011
loc_og_t2o_mou               1.018010
loc_ic_t2o_mou               1.018010
std_og_t2o_mou               1.018010
last_date_of_month_7         0.601006
aug_vbc_3g                   0.000000
jul_vbc_3g                   0.000000
aon                          0.000000
jun_vbc_3g                   0.000000
monthly_2g_9                 0.000000
sachet_3g_6                  0.000000
vol_3g_mb_9                  0.000000
sachet_3g_8                  0.000000
sachet_3g_7                  0.000000
monthly_2g_8                 0.000000
monthly_3g_9                 0.000000
sachet_3g_9                  0.000000
monthly_3g_8                 0.000000
monthly_3g_7                 0.000000
monthly_3g_6                 0.000000
sachet_2g_9                  0.000000
sachet_2g_8                  0.000000
sachet_2g_7                  0.000000
sachet_2g_6                  0.000000
monthly_2g_7                 0.000000
monthly_2g_6                 0.000000
circle_id                    0.000000
vol_3g_mb_8                  0.000000
total_rech_num_9             0.000000
total_rech_num_7             0.000000
total_rech_num_6             0.000000
total_ic_mou_9               0.000000
total_ic_mou_8               0.000000
total_ic_mou_7               0.000000
total_ic_mou_6               0.000000
total_og_mou_9               0.000000
total_og_mou_8               0.000000
total_og_mou_7               0.000000
total_og_mou_6               0.000000
arpu_9                       0.000000
arpu_8                       0.000000
arpu_7                       0.000000
arpu_6                       0.000000
last_date_of_month_6         0.000000
total_rech_num_8             0.000000
total_rech_amt_6             0.000000
vol_3g_mb_7                  0.000000
total_rech_amt_7             0.000000
vol_3g_mb_6                  0.000000
vol_2g_mb_9                  0.000000
vol_2g_mb_8                  0.000000
vol_2g_mb_7                  0.000000
vol_2g_mb_6                  0.000000
last_day_rch_amt_9           0.000000
last_day_rch_amt_8           0.000000
last_day_rch_amt_7           0.000000
last_day_rch_amt_6           0.000000
max_rech_amt_9               0.000000
max_rech_amt_8               0.000000
max_rech_amt_7               0.000000
max_rech_amt_6               0.000000
total_rech_amt_9             0.000000
total_rech_amt_8             0.000000
sep_vbc_3g                   0.000000
dtype: float64

In [221]:
# look at missing value ratio in each column

missing_value_col = churn.columns[100 * churn.isna().mean()>70]

missing_value_col

Index(['date_of_last_rech_data_6', 'date_of_last_rech_data_7',
       'date_of_last_rech_data_8', 'date_of_last_rech_data_9',
       'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8',
       'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7',
       'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6',
       'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9',
       'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8',
       'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7',
       'av_rech_amt_data_8', 'av_rech_amt_data_9', 'arpu_3g_6', 'arpu_3g_7',
       'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8',
       'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8',
       'night_pck_user_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9'],
      dtype='object')

In [222]:
print(f'There are {len(missing_value_col)} features having more than 70% missing values.')

There are 40 features having more than 70% missing values.

**Checkpoint:** You must have observed that there are 40 features with more than 70% of the missing values.

### i) Impute missing values with zeroes

Now that we have the information about the amount of missing values in each column, we can go ahead and perform some imputing and deleting.

First, we will start with the columns corresponding to the "recharging of the service" information.

In [223]:
# Display summary statistics for the recharge columns
recharge_cols = ['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9',
                 'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9',
                 'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'count_rech_3g_9',
                 'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9',
                 'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9',
                 ]

churn[recharge_cols].describe(include='all')

,total_rech_data_6,total_rech_data_7,total_rech_data_8,total_rech_data_9,count_rech_2g_6,count_rech_2g_7,count_rech_2g_8,count_rech_2g_9,count_rech_3g_6,count_rech_3g_7,count_rech_3g_8,count_rech_3g_9,max_rech_data_6,max_rech_data_7,max_rech_data_8,max_rech_data_9,av_rech_amt_data_6,av_rech_amt_data_7,av_rech_amt_data_8,av_rech_amt_data_9
count,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.000000,25153.000000,25571.000000,26339.000000,25922.00000,25153.000000,25571.000000,26339.000000,25922.000000
mean,2.463802,2.666419,2.651999,2.441170,1.864668,2.044699,2.016288,1.781807,0.599133,0.621720,0.635711,0.659363,126.393392,126.729459,125.717301,124.94144,192.600982,200.981292,197.526489,192.734315
std,2.789128,3.031593,3.074987,2.516339,2.570254,2.768332,2.720132,2.214701,1.274428,1.394524,1.422827,1.411513,108.477235,109.765267,109.437851,111.36376,192.646318,196.791224,191.301305,188.400286
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.500000,0.500000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,25.000000,25.000000,25.000000,25.00000,82.000000,92.000000,87.000000,69.000000
50%,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,145.000000,145.000000,145.000000,145.00000,154.000000,154.000000,154.000000,164.000000
75%,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,177.000000,177.000000,179.000000,179.00000,252.000000,252.000000,252.000000,252.000000
max,61.000000,54.000000,60.000000,84.000000,42.000000,48.000000,44.000000,40.000000,29.000000,35.000000,45.000000,49.000000,1555.000000,1555.000000,1555.000000,1555.00000,7546.000000,4365.000000,4076.000000,4061.000000

Observe whether the date of the last recharge and the total recharge data value are missing together

In [224]:
# You can do this by displaying the rows that have null values in these two variables

#Let's take columns from recharge_col for month 6 only to test
recharge_cols_6 = [col for col in recharge_cols if '6' in col]

#Filter data where last recharge date is null to check if all recharge column values are null
churn[recharge_cols_6][churn['date_of_last_rech_6'] .isnull()]

,total_rech_data_6,count_rech_2g_6,count_rech_3g_6,max_rech_data_6,av_rech_amt_data_6
26,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
99451,NaN,NaN,NaN,NaN,NaN
99557,NaN,NaN,NaN,NaN,NaN
99680,NaN,NaN,NaN,NaN,NaN
99845,NaN,NaN,NaN,NaN,NaN
99993,NaN,NaN,NaN,NaN,NaN

In [225]:
#One more test with 9th month data
recharge_cols_9 = [col for col in recharge_cols if '9' in col]

#Filter data where last recharge date is null to check if all recharge column values are null
churn[recharge_cols_9][churn['date_of_last_rech_9'] .isnull()] .head()

,total_rech_data_9,count_rech_2g_9,count_rech_3g_9,max_rech_data_9,av_rech_amt_data_9
11,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN

Impute missing values with zeroes wherever customer didn't recharge their number that month.

In [226]:
# create a list of recharge columns where we will impute missing values with zeroes
zero_impute = ['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9',
        'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9',
        'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9'
       ]

In [227]:
# impute missing values with 0 for the above mentioned list of recharge columns

for col in zero_impute:
  churn[col] = churn[col].fillna(0)

Check whether the imputation has been done correctly

In [228]:
# now, let's make sure values are imputed correctly
print("Missing value ratio:\n")
print(churn[zero_impute].isnull().sum()*100/churn.shape[1])

# summary
print("\n\nSummary statistics\n")
print(churn[zero_impute].describe(include='all'))

Missing value ratio:

total_rech_data_6     0.0
total_rech_data_7     0.0
total_rech_data_8     0.0
total_rech_data_9     0.0
av_rech_amt_data_6    0.0
av_rech_amt_data_7    0.0
av_rech_amt_data_8    0.0
av_rech_amt_data_9    0.0
max_rech_data_6       0.0
max_rech_data_7       0.0
max_rech_data_8       0.0
max_rech_data_9       0.0
dtype: float64


Summary statistics

       total_rech_data_6  total_rech_data_7  total_rech_data_8  \
count       99999.000000       99999.000000       99999.000000
mean            0.619726           0.681837           0.698517
std             1.760541           1.924382           1.963417
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             0.000000           0.000000           0.000000
75%             1.000000           1.000000           1.000000
max            61.000000          54.000000          60.000000

       total_rech_data_9  av_rech_amt_data_6  av_rech_amt_data_7  \
count       99999.000000        99999.000000        99999.000000
mean            0.632806           48.445409           51.393440
std             1.669040          127.743863          132.629365
min             0.000000            0.000000            0.000000
25%             0.000000            0.000000            0.000000
50%             0.000000            0.000000            0.000000
75%             1.000000            8.250000           17.000000
max            84.000000         7546.000000         4365.000000

       av_rech_amt_data_8  av_rech_amt_data_9  max_rech_data_6  \
count        99999.000000        99999.000000     99999.000000
mean            52.027022           49.961089        31.792048
std            131.182609          127.804280        77.248778
min              0.000000            0.000000         0.000000
25%              0.000000            0.000000         0.000000
50%              0.000000            0.000000         0.000000
75%             23.000000           17.000000         8.000000
max           4076.000000         4061.000000      1555.000000

       max_rech_data_7  max_rech_data_8  max_rech_data_9
count     99999.000000     99999.000000     99999.000000
mean         32.406314        33.113011        32.387644
std          78.342435        78.872739        78.818696
min           0.000000         0.000000         0.000000
25%           0.000000         0.000000         0.000000
50%           0.000000         0.000000         0.000000
75%          14.000000        17.000000        17.000000
max        1555.000000      1555.000000      1555.000000

Drop the id and date columns which are not required in further analyses

In [229]:
# drop id and all the date columns
print("Shape before dropping: ", churn.shape)

churn.drop(columns= id_cols + date_cols,inplace=True)


print("Shape after dropping: ", churn.shape)

Shape before dropping:  (99999, 225)
Shape after dropping:  (99999, 212)

### ii) Replace NaN values in categorical variables

The categorical variables present in the data set are given below:
  - night_pck_user: Prepaid service schemes for use during specific night hours only
  - fb_user: Service scheme to avail services of Facebook and similar social networking sites

If there are missing values, this means that there is another scheme that the customer has availed from the telecomminucation service.

We will replace missing values in the categorical values with '-1' where '-1' will be a new category.

In [230]:
from sklearn.impute import SimpleImputer

In [231]:
churn[cat_cols].head()

,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9
0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,NaN
1,NaN,0.0,0.0,NaN,NaN,1.0,1.0,NaN
2,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [232]:
# replace missing values with '-1' in categorical columns

impute_mode = SimpleImputer(strategy = 'constant',  fill_value = -1)
impute_mode.fit(churn[cat_cols])

churn[cat_cols] = impute_mode.transform(churn[cat_cols])

SimpleImputer(fill_value=-1, strategy='constant')

In [236]:
churn[cat_cols].head()

,night_pck_user_6,night_pck_user_7,night_pck_user_8,night_pck_user_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9
0,0.0,0.0,0.0,-1.0,1.0,1.0,1.0,-1.0
1,-1.0,0.0,0.0,-1.0,-1.0,1.0,1.0,-1.0
2,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,0.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0

Check for the missing value ratio

In [237]:
# missing value ratio
print("Missing value ratio:\n")
print(churn[cat_cols].isnull().sum()*100/churn.shape[0])

Missing value ratio:

night_pck_user_6    0.0
night_pck_user_7    0.0
night_pck_user_8    0.0
night_pck_user_9    0.0
fb_user_6           0.0
fb_user_7           0.0
fb_user_8           0.0
fb_user_9           0.0
dtype: float64

### iii) Drop variables with more than a given threshold of missing values

Here, we will be removing the column variables that have more than 70% of its elements missing.

In [238]:
initial_cols = churn.shape[1]

# Insert the threshold value of missing entries
MISSING_THRESHOLD = 0.7

# Extract a list of columns that have less than the threshold of missing values
keep_cols = list(churn.columns[churn.isna().mean() < MISSING_THRESHOLD])

keep_cols

['loc_og_t2o_mou',
 'std_og_t2o_mou',
 'loc_ic_t2o_mou',
 'arpu_6',
 'arpu_7',
 'arpu_8',
 'arpu_9',
 'onnet_mou_6',
 'onnet_mou_7',
 'onnet_mou_8',
 'onnet_mou_9',
 'offnet_mou_6',
 'offnet_mou_7',
 'offnet_mou_8',
 'offnet_mou_9',
 'roam_ic_mou_6',
 'roam_ic_mou_7',
 'roam_ic_mou_8',
 'roam_ic_mou_9',
 'roam_og_mou_6',
 'roam_og_mou_7',
 'roam_og_mou_8',
 'roam_og_mou_9',
 'loc_og_t2t_mou_6',
 'loc_og_t2t_mou_7',
 'loc_og_t2t_mou_8',
 'loc_og_t2t_mou_9',
 'loc_og_t2m_mou_6',
 'loc_og_t2m_mou_7',
 'loc_og_t2m_mou_8',
 'loc_og_t2m_mou_9',
 'loc_og_t2f_mou_6',
 'loc_og_t2f_mou_7',
 'loc_og_t2f_mou_8',
 'loc_og_t2f_mou_9',
 'loc_og_t2c_mou_6',
 'loc_og_t2c_mou_7',
 'loc_og_t2c_mou_8',
 'loc_og_t2c_mou_9',
 'loc_og_mou_6',
 'loc_og_mou_7',
 'loc_og_mou_8',
 'loc_og_mou_9',
 'std_og_t2t_mou_6',
 'std_og_t2t_mou_7',
 'std_og_t2t_mou_8',
 'std_og_t2t_mou_9',
 'std_og_t2m_mou_6',
 'std_og_t2m_mou_7',
 'std_og_t2m_mou_8',
 'std_og_t2m_mou_9',
 'std_og_t2f_mou_6',
 'std_og_t2f_mou_7',
 'std_og_t2f_mou_8',
 'std_og_t2f_mou_9',
 'std_og_t2c_mou_6',
 'std_og_t2c_mou_7',
 'std_og_t2c_mou_8',
 'std_og_t2c_mou_9',
 'std_og_mou_6',
 'std_og_mou_7',
 'std_og_mou_8',
 'std_og_mou_9',
 'isd_og_mou_6',
 'isd_og_mou_7',
 'isd_og_mou_8',
 'isd_og_mou_9',
 'spl_og_mou_6',
 'spl_og_mou_7',
 'spl_og_mou_8',
 'spl_og_mou_9',
 'og_others_6',
 'og_others_7',
 'og_others_8',
 'og_others_9',
 'total_og_mou_6',
 'total_og_mou_7',
 'total_og_mou_8',
 'total_og_mou_9',
 'loc_ic_t2t_mou_6',
 'loc_ic_t2t_mou_7',
 'loc_ic_t2t_mou_8',
 'loc_ic_t2t_mou_9',
 'loc_ic_t2m_mou_6',
 'loc_ic_t2m_mou_7',
 'loc_ic_t2m_mou_8',
 'loc_ic_t2m_mou_9',
 'loc_ic_t2f_mou_6',
 'loc_ic_t2f_mou_7',
 'loc_ic_t2f_mou_8',
 'loc_ic_t2f_mou_9',
 'loc_ic_mou_6',
 'loc_ic_mou_7',
 'loc_ic_mou_8',
 'loc_ic_mou_9',
 'std_ic_t2t_mou_6',
 'std_ic_t2t_mou_7',
 'std_ic_t2t_mou_8',
 'std_ic_t2t_mou_9',
 'std_ic_t2m_mou_6',
 'std_ic_t2m_mou_7',
 'std_ic_t2m_mou_8',
 'std_ic_t2m_mou_9',
 'std_ic_t2f_mou_6',
 'std_ic_t2f_mou_7',
 'std_ic_t2f_mou_8',
 'std_ic_t2f_mou_9',
 'std_ic_t2o_mou_6',
 'std_ic_t2o_mou_7',
 'std_ic_t2o_mou_8',
 'std_ic_t2o_mou_9',
 'std_ic_mou_6',
 'std_ic_mou_7',
 'std_ic_mou_8',
 'std_ic_mou_9',
 'total_ic_mou_6',
 'total_ic_mou_7',
 'total_ic_mou_8',
 'total_ic_mou_9',
 'spl_ic_mou_6',
 'spl_ic_mou_7',
 'spl_ic_mou_8',
 'spl_ic_mou_9',
 'isd_ic_mou_6',
 'isd_ic_mou_7',
 'isd_ic_mou_8',
 'isd_ic_mou_9',
 'ic_others_6',
 'ic_others_7',
 'ic_others_8',
 'ic_others_9',
 'total_rech_num_6',
 'total_rech_num_7',
 'total_rech_num_8',
 'total_rech_num_9',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'total_rech_amt_9',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'max_rech_amt_9',
 'last_day_rch_amt_6',
 'last_day_rch_amt_7',
 'last_day_rch_amt_8',
 'last_day_rch_amt_9',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'total_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'av_rech_amt_data_9',
 'vol_2g_mb_6',
 'vol_2g_mb_7',
 'vol_2g_mb_8',
 'vol_2g_mb_9',
 'vol_3g_mb_6',
 'vol_3g_mb_7',
 'vol_3g_mb_8',
 'vol_3g_mb_9',
 'night_pck_user_6',
 'night_pck_user_7',
 'night_pck_user_8',
 'night_pck_user_9',
 'monthly_2g_6',
 'monthly_2g_7',
 'monthly_2g_8',
 'monthly_2g_9',
 'sachet_2g_6',
 'sachet_2g_7',
 'sachet_2g_8',
 'sachet_2g_9',
 'monthly_3g_6',
 'monthly_3g_7',
 'monthly_3g_8',
 'monthly_3g_9',
 'sachet_3g_6',
 'sachet_3g_7',
 'sachet_3g_8',
 'sachet_3g_9',
 'fb_user_6',
 'fb_user_7',
 'fb_user_8',
 'fb_user_9',
 'aon',
 'aug_vbc_3g',
 'jul_vbc_3g',
 'jun_vbc_3g',
 'sep_vbc_3g']

In [240]:
# Include the columns extracted in the above list in the main data set
# These columns will have the percentage of missing values less than the threshold
churn = churn[keep_cols]

# Display the number of columns dropped
print(f'Total { initial_cols - churn.shape[1] } columns are dropped which were less than threshold.')

Total 16 columns are dropped which were less than threshold.

**Checkpoint:** You must have dropped 16 columns in the above step

In [241]:
# look at missing value ratio in each column
churn.isnull().sum()*100/churn.shape[0]

loc_og_t2o_mou        1.018010
std_og_t2o_mou        1.018010
loc_ic_t2o_mou        1.018010
arpu_6                0.000000
arpu_7                0.000000
arpu_8                0.000000
arpu_9                0.000000
onnet_mou_6           3.937039
onnet_mou_7           3.859039
onnet_mou_8           5.378054
onnet_mou_9           7.745077
offnet_mou_6          3.937039
offnet_mou_7          3.859039
offnet_mou_8          5.378054
offnet_mou_9          7.745077
roam_ic_mou_6         3.937039
roam_ic_mou_7         3.859039
roam_ic_mou_8         5.378054
roam_ic_mou_9         7.745077
roam_og_mou_6         3.937039
roam_og_mou_7         3.859039
roam_og_mou_8         5.378054
roam_og_mou_9         7.745077
loc_og_t2t_mou_6      3.937039
loc_og_t2t_mou_7      3.859039
loc_og_t2t_mou_8      5.378054
loc_og_t2t_mou_9      7.745077
loc_og_t2m_mou_6      3.937039
loc_og_t2m_mou_7      3.859039
loc_og_t2m_mou_8      5.378054
loc_og_t2m_mou_9      7.745077
loc_og_t2f_mou_6      3.937039
loc_og_t2f_mou_7      3.859039
loc_og_t2f_mou_8      5.378054
loc_og_t2f_mou_9      7.745077
loc_og_t2c_mou_6      3.937039
loc_og_t2c_mou_7      3.859039
loc_og_t2c_mou_8      5.378054
loc_og_t2c_mou_9      7.745077
loc_og_mou_6          3.937039
loc_og_mou_7          3.859039
loc_og_mou_8          5.378054
loc_og_mou_9          7.745077
std_og_t2t_mou_6      3.937039
std_og_t2t_mou_7      3.859039
std_og_t2t_mou_8      5.378054
std_og_t2t_mou_9      7.745077
std_og_t2m_mou_6      3.937039
std_og_t2m_mou_7      3.859039
std_og_t2m_mou_8      5.378054
std_og_t2m_mou_9      7.745077
std_og_t2f_mou_6      3.937039
std_og_t2f_mou_7      3.859039
std_og_t2f_mou_8      5.378054
std_og_t2f_mou_9      7.745077
std_og_t2c_mou_6      3.937039
std_og_t2c_mou_7      3.859039
std_og_t2c_mou_8      5.378054
std_og_t2c_mou_9      7.745077
std_og_mou_6          3.937039
std_og_mou_7          3.859039
std_og_mou_8          5.378054
std_og_mou_9          7.745077
isd_og_mou_6          3.937039
isd_og_mou_7          3.859039
isd_og_mou_8          5.378054
isd_og_mou_9          7.745077
spl_og_mou_6          3.937039
spl_og_mou_7          3.859039
spl_og_mou_8          5.378054
spl_og_mou_9          7.745077
og_others_6           3.937039
og_others_7           3.859039
og_others_8           5.378054
og_others_9           7.745077
total_og_mou_6        0.000000
total_og_mou_7        0.000000
total_og_mou_8        0.000000
total_og_mou_9        0.000000
loc_ic_t2t_mou_6      3.937039
loc_ic_t2t_mou_7      3.859039
loc_ic_t2t_mou_8      5.378054
loc_ic_t2t_mou_9      7.745077
loc_ic_t2m_mou_6      3.937039
loc_ic_t2m_mou_7      3.859039
loc_ic_t2m_mou_8      5.378054
loc_ic_t2m_mou_9      7.745077
loc_ic_t2f_mou_6      3.937039
loc_ic_t2f_mou_7      3.859039
loc_ic_t2f_mou_8      5.378054
loc_ic_t2f_mou_9      7.745077
loc_ic_mou_6          3.937039
loc_ic_mou_7          3.859039
loc_ic_mou_8          5.378054
loc_ic_mou_9          7.745077
std_ic_t2t_mou_6      3.937039
std_ic_t2t_mou_7      3.859039
std_ic_t2t_mou_8      5.378054
std_ic_t2t_mou_9      7.745077
std_ic_t2m_mou_6      3.937039
std_ic_t2m_mou_7      3.859039
std_ic_t2m_mou_8      5.378054
std_ic_t2m_mou_9      7.745077
std_ic_t2f_mou_6      3.937039
std_ic_t2f_mou_7      3.859039
std_ic_t2f_mou_8      5.378054
std_ic_t2f_mou_9      7.745077
std_ic_t2o_mou_6      3.937039
std_ic_t2o_mou_7      3.859039
std_ic_t2o_mou_8      5.378054
std_ic_t2o_mou_9      7.745077
std_ic_mou_6          3.937039
std_ic_mou_7          3.859039
std_ic_mou_8          5.378054
std_ic_mou_9          7.745077
total_ic_mou_6        0.000000
total_ic_mou_7        0.000000
total_ic_mou_8        0.000000
total_ic_mou_9        0.000000
spl_ic_mou_6          3.937039
spl_ic_mou_7          3.859039
spl_ic_mou_8          5.378054
spl_ic_mou_9          7.745077
isd_ic_mou_6          3.937039
isd_ic_mou_7          3.859039
isd_ic_mou_8          5.378054
isd_ic_mou_9          7.745077
ic_others_6           3.937039
ic_others_7           3.859039
ic_others_8           5.378054
ic_others_9           7.745077
total_rech_num_6      0.000000
total_rech_num_7      0.000000
total_rech_num_8      0.000000
total_rech_num_9      0.000000
total_rech_amt_6      0.000000
total_rech_amt_7      0.000000
total_rech_amt_8      0.000000
total_rech_amt_9      0.000000
max_rech_amt_6        0.000000
max_rech_amt_7        0.000000
max_rech_amt_8        0.000000
max_rech_amt_9        0.000000
last_day_rch_amt_6    0.000000
last_day_rch_amt_7    0.000000
last_day_rch_amt_8    0.000000
last_day_rch_amt_9    0.000000
total_rech_data_6     0.000000
total_rech_data_7     0.000000
total_rech_data_8     0.000000
total_rech_data_9     0.000000
max_rech_data_6       0.000000
max_rech_data_7       0.000000
max_rech_data_8       0.000000
max_rech_data_9       0.000000
av_rech_amt_data_6    0.000000
av_rech_amt_data_7    0.000000
av_rech_amt_data_8    0.000000
av_rech_amt_data_9    0.000000
vol_2g_mb_6           0.000000
vol_2g_mb_7           0.000000
vol_2g_mb_8           0.000000
vol_2g_mb_9           0.000000
vol_3g_mb_6           0.000000
vol_3g_mb_7           0.000000
vol_3g_mb_8           0.000000
vol_3g_mb_9           0.000000
night_pck_user_6      0.000000
night_pck_user_7      0.000000
night_pck_user_8      0.000000
night_pck_user_9      0.000000
monthly_2g_6          0.000000
monthly_2g_7          0.000000
monthly_2g_8          0.000000
monthly_2g_9          0.000000
sachet_2g_6           0.000000
sachet_2g_7           0.000000
sachet_2g_8           0.000000
sachet_2g_9           0.000000
monthly_3g_6          0.000000
monthly_3g_7          0.000000
monthly_3g_8          0.000000
monthly_3g_9          0.000000
sachet_3g_6           0.000000
sachet_3g_7           0.000000
sachet_3g_8           0.000000
sachet_3g_9           0.000000
fb_user_6             0.000000
fb_user_7             0.000000
fb_user_8             0.000000
fb_user_9             0.000000
aon                   0.000000
aug_vbc_3g            0.000000
jul_vbc_3g            0.000000
jun_vbc_3g            0.000000
sep_vbc_3g            0.000000
dtype: float64

### iv) Impute missing values using MICE

[MICE](https://scikit-learn.org/stable/modules/impute.html) is called "Multiple Imputation by Chained Equation". It uses machine learning techniques in order to see what are the trends in the values of that column. Using this information, it will smartly fill in the missing values in that column.

MICE is now called Iterative Imputer.

You can specify the machine learning algorithm to be used in order to fill in the missing values of that column.

In [242]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

So, we will be using linear regression for filling the missing values in the rest of the numeric columns.

In [244]:
churn_cols = churn.columns

# using MICE technique to impute missing values in the rest of the columns
lr = LinearRegression()

# Implement the Iterative Imputer technique to impute appropriate values in the missing entries of the rest of the numeric columns
# Note: Set the 'estimator' parameter to 'lr'  - This specifies that we will be using linear regression to estimate the missing values
# Note: Set the 'missing_values' parameter to 'np.nan' - This specifies that we have impute the entries which are NaNs
# Note: Set the 'max_iter' parameter to '1' - This specifies the number of iterations the algorithm scans through the data set
#       to converge to appropriate values it is going to impute in the missing entries. It takes around 6 min to run.
# Note: Set the 'verbose' parameter to '2' - This specifies the amount of details it will show while imputing
# Note: Set the 'imputation_order' parameter to 'roman' - This specifies the order in which features will be imputed. 'roman' means left to right
# Note: Set the 'random_state' parameter to '0' - This is for reproducibility

imp = IterativeImputer(estimator = lr ,missing_values = np.nan, max_iter=1, verbose =2, imputation_order = 'roman', random_state = 0)

churn = imp.fit_transform(churn)

[IterativeImputer] Completing matrix with shape (99999, 196)
[IterativeImputer] Ending imputation round 1/1, elapsed time 380.91
[IterativeImputer] Change: 242685.232626865, scaled tolerance: 45.735400000000006

In [245]:
churn

array([[   0.  ,    0.  ,    0.  , ...,    0.  ,  101.2 ,    3.58],
       [   0.  ,    0.  ,    0.  , ...,    0.  ,    0.  ,    0.  ],
       [   0.  ,    0.  ,    0.  , ...,    0.  ,    4.17,    0.  ],
       ...,
       [   0.  ,    0.  ,    0.  , ...,    0.  ,    0.  ,    0.  ],
       [   0.  ,    0.  ,    0.  , ..., 1151.03, 1173.18,    0.  ],
       [   0.  ,    0.  ,    0.  , ...,    0.  ,    0.  ,    0.  ]])

In [246]:
# convert imputed numpy array to pandas dataframe
churn = pd.DataFrame(churn, columns=churn_cols)
print(churn.isnull().sum()*100/churn.shape[0])

loc_og_t2o_mou        0.0
std_og_t2o_mou        0.0
loc_ic_t2o_mou        0.0
arpu_6                0.0
arpu_7                0.0
arpu_8                0.0
arpu_9                0.0
onnet_mou_6           0.0
onnet_mou_7           0.0
onnet_mou_8           0.0
onnet_mou_9           0.0
offnet_mou_6          0.0
offnet_mou_7          0.0
offnet_mou_8          0.0
offnet_mou_9          0.0
roam_ic_mou_6         0.0
roam_ic_mou_7         0.0
roam_ic_mou_8         0.0
roam_ic_mou_9         0.0
roam_og_mou_6         0.0
roam_og_mou_7         0.0
roam_og_mou_8         0.0
roam_og_mou_9         0.0
loc_og_t2t_mou_6      0.0
loc_og_t2t_mou_7      0.0
loc_og_t2t_mou_8      0.0
loc_og_t2t_mou_9      0.0
loc_og_t2m_mou_6      0.0
loc_og_t2m_mou_7      0.0
loc_og_t2m_mou_8      0.0
loc_og_t2m_mou_9      0.0
loc_og_t2f_mou_6      0.0
loc_og_t2f_mou_7      0.0
loc_og_t2f_mou_8      0.0
loc_og_t2f_mou_9      0.0
loc_og_t2c_mou_6      0.0
loc_og_t2c_mou_7      0.0
loc_og_t2c_mou_8      0.0
loc_og_t2c_mou_9      0.0
loc_og_mou_6          0.0
loc_og_mou_7          0.0
loc_og_mou_8          0.0
loc_og_mou_9          0.0
std_og_t2t_mou_6      0.0
std_og_t2t_mou_7      0.0
std_og_t2t_mou_8      0.0
std_og_t2t_mou_9      0.0
std_og_t2m_mou_6      0.0
std_og_t2m_mou_7      0.0
std_og_t2m_mou_8      0.0
std_og_t2m_mou_9      0.0
std_og_t2f_mou_6      0.0
std_og_t2f_mou_7      0.0
std_og_t2f_mou_8      0.0
std_og_t2f_mou_9      0.0
std_og_t2c_mou_6      0.0
std_og_t2c_mou_7      0.0
std_og_t2c_mou_8      0.0
std_og_t2c_mou_9      0.0
std_og_mou_6          0.0
std_og_mou_7          0.0
std_og_mou_8          0.0
std_og_mou_9          0.0
isd_og_mou_6          0.0
isd_og_mou_7          0.0
isd_og_mou_8          0.0
isd_og_mou_9          0.0
spl_og_mou_6          0.0
spl_og_mou_7          0.0
spl_og_mou_8          0.0
spl_og_mou_9          0.0
og_others_6           0.0
og_others_7           0.0
og_others_8           0.0
og_others_9           0.0
total_og_mou_6        0.0
total_og_mou_7        0.0
total_og_mou_8        0.0
total_og_mou_9        0.0
loc_ic_t2t_mou_6      0.0
loc_ic_t2t_mou_7      0.0
loc_ic_t2t_mou_8      0.0
loc_ic_t2t_mou_9      0.0
loc_ic_t2m_mou_6      0.0
loc_ic_t2m_mou_7      0.0
loc_ic_t2m_mou_8      0.0
loc_ic_t2m_mou_9      0.0
loc_ic_t2f_mou_6      0.0
loc_ic_t2f_mou_7      0.0
loc_ic_t2f_mou_8      0.0
loc_ic_t2f_mou_9      0.0
loc_ic_mou_6          0.0
loc_ic_mou_7          0.0
loc_ic_mou_8          0.0
loc_ic_mou_9          0.0
std_ic_t2t_mou_6      0.0
std_ic_t2t_mou_7      0.0
std_ic_t2t_mou_8      0.0
std_ic_t2t_mou_9      0.0
std_ic_t2m_mou_6      0.0
std_ic_t2m_mou_7      0.0
std_ic_t2m_mou_8      0.0
std_ic_t2m_mou_9      0.0
std_ic_t2f_mou_6      0.0
std_ic_t2f_mou_7      0.0
std_ic_t2f_mou_8      0.0
std_ic_t2f_mou_9      0.0
std_ic_t2o_mou_6      0.0
std_ic_t2o_mou_7      0.0
std_ic_t2o_mou_8      0.0
std_ic_t2o_mou_9      0.0
std_ic_mou_6          0.0
std_ic_mou_7          0.0
std_ic_mou_8          0.0
std_ic_mou_9          0.0
total_ic_mou_6        0.0
total_ic_mou_7        0.0
total_ic_mou_8        0.0
total_ic_mou_9        0.0
spl_ic_mou_6          0.0
spl_ic_mou_7          0.0
spl_ic_mou_8          0.0
spl_ic_mou_9          0.0
isd_ic_mou_6          0.0
isd_ic_mou_7          0.0
isd_ic_mou_8          0.0
isd_ic_mou_9          0.0
ic_others_6           0.0
ic_others_7           0.0
ic_others_8           0.0
ic_others_9           0.0
total_rech_num_6      0.0
total_rech_num_7      0.0
total_rech_num_8      0.0
total_rech_num_9      0.0
total_rech_amt_6      0.0
total_rech_amt_7      0.0
total_rech_amt_8      0.0
total_rech_amt_9      0.0
max_rech_amt_6        0.0
max_rech_amt_7        0.0
max_rech_amt_8        0.0
max_rech_amt_9        0.0
last_day_rch_amt_6    0.0
last_day_rch_amt_7    0.0
last_day_rch_amt_8    0.0
last_day_rch_amt_9    0.0
total_rech_data_6     0.0
total_rech_data_7     0.0
total_rech_data_8     0.0
total_rech_data_9     0.0
max_rech_data_6       0.0
max_rech_data_7       0.0
max_rech_data_8       0.0
max_rech_data_9       0.0
av_rech_amt_data_6    0.0
av_rech_amt_data_7    0.0
av_rech_amt_data_8    0.0
av_rech_amt_data_9    0.0
vol_2g_mb_6           0.0
vol_2g_mb_7           0.0
vol_2g_mb_8           0.0
vol_2g_mb_9           0.0
vol_3g_mb_6           0.0
vol_3g_mb_7           0.0
vol_3g_mb_8           0.0
vol_3g_mb_9           0.0
night_pck_user_6      0.0
night_pck_user_7      0.0
night_pck_user_8      0.0
night_pck_user_9      0.0
monthly_2g_6          0.0
monthly_2g_7          0.0
monthly_2g_8          0.0
monthly_2g_9          0.0
sachet_2g_6           0.0
sachet_2g_7           0.0
sachet_2g_8           0.0
sachet_2g_9           0.0
monthly_3g_6          0.0
monthly_3g_7          0.0
monthly_3g_8          0.0
monthly_3g_9          0.0
sachet_3g_6           0.0
sachet_3g_7           0.0
sachet_3g_8           0.0
sachet_3g_9           0.0
fb_user_6             0.0
fb_user_7             0.0
fb_user_8             0.0
fb_user_9             0.0
aon                   0.0
aug_vbc_3g            0.0
jul_vbc_3g            0.0
jun_vbc_3g            0.0
sep_vbc_3g            0.0
dtype: float64

You can now see that we have removed or filled all the missing values from the data set.

### Checklist
- Explored the data set by analyzing the summary statistics
- Identified the types of features present in the data set
- Computed the ratio of missing values in each of the features in the data set
- Imputed missing values with zeroes wherever customer didn't recharge their number for any particular month
- Replace missing values in the categorical variables with '-1' where '-1' is a new category
- Removed the column variables that have more than 70% of its elements missing
- Imputed the remaining  features with missing values using MICE technique
- Retained the data set required for further analyses by dropping the irrelevant columns

We will now proceed to feature engineering to further prepare the data for testing machine learning and deep learning models.

# Task 3: Feature engineering

### Description

In this task, you will extract, select, or create relevant features from your dataset.

### Filter high-value customers
High-value customers are those who have recharged with an amount more than or equal to X, where X is the 70th percentile of the average recharge amount in the first two months (the good phase).

### Calculate total data recharge amount

In [ ]:
# calculate and store the total data recharge amount for June --> number of data recharges * average data recharge amount
# You have to use the total recharge for data and the average recharge amount for data
# June, July, August and September - The months are encoded as 6, 7, 8 and 9, respectively.

### CODE HERE ###

# calculate and store the total data recharge amount for July --> number of data recharges * average data recharge amount

### CODE HERE ###

Add total data recharge and call recharge to get total combined recharge amount for a month

In [ ]:
# calculate and store total recharge amount for call and internet data for June --> total call recharge amount + total data recharge amount

### CODE HERE ###

# calculate and store total recharge amount for call and internet data for July --> total call recharge amount + total data recharge amount

### CODE HERE ###

Compute the average recharge amount for customers in June and July

In [ ]:
# calculate average data recharge amount done by customer in June and July

### CODE HERE ###

Find the 70th percentile for average data recharge amount for June and July

In [ ]:
# evaluate and display the 70th percentile average data recharge amount of June and July

### CODE HERE ###

**Checkpoint:** You must have obtained 478 as the recharge amount at 70th percentile.

Filter the data set for customers who have recharged their mobiles with more than or equal to 70th percentile amount

In [ ]:
# retain only those customers who have recharged their mobiles with more than or equal to 70th percentile amount
# You have seen whether each customer row has the average data recharge amount more than the 70th percentile of the average data recharge amount

### CODE HERE ###

Drop the variables which are no longer required

In [ ]:
# delete variables created to filter high-value customers

### CODE HERE ###

In [ ]:
# Display the number of customers retained in the data set

### CODE HERE ###

**Checkpoint:** Now you must have 30001 customers in the data set with 196 columns.

### Derive churn

### Tagging churners and removing the attributes of the churn phase
Now tag the churned customers (churn=1, else 0) based on the fourth month as follows: those who have not made any calls (either incoming or outgoing) and have not used mobile internet even once in the churn phase. The attributes you must use to tag churners are as follows:

total_ic_mou_9
total_og_mou_9
vol_2g_mb_9
vol_3g_mb_9
After tagging churners, remove all the attributes corresponding to the churn phase (all attributes having “_9”, etc. in their names).

Calculate total incoming and outgoing minutes of usage for the month of September

In [ ]:
# Add total incoming and outgoing minutes of usage for the month of September

### CODE HERE ###

Calculate the total volumn of 2g and 3g data consumption for the month of September

In [ ]:
# Add the total volumn of 2g and 3g data consumption for the month of September

### CODE HERE ###

Create churn variable by tagging customers who have not used either calls or internet in the month of September as 0 - not churn and 1 - churn otherwise

In [ ]:
# create churn variable: those who have not used either calls or internet in the month of September are customers who have churned using the lambda function
# Here 0 denotes not churn and 1 denotes churn

### CODE HERE ###

Drop the derived variables which are no longer required

In [ ]:
# delete derived variables

### CODE HERE ###

Analyze the class ratio of churn column

In [ ]:
# change the 'churn' variable data type to 'category'

### CODE HERE ###

# display the churn ratio

### CODE HERE ###

### Calculate difference between 8th and previous months

Let's derive some variables. The most important feature, in this situation, can be the difference between the 8th month and the previous months. The difference can be in patterns such as usage difference or recharge value difference. Let's calculate difference variable as the difference between 8th month and the average of 6th and 7th month.

In [ ]:
cols =  ['arpu',
         'onnet_mou',
         'offnet_mou',
         'roam_ic_mou',
         'roam_og_mou',
         'loc_og_mou',
         'std_og_mou',
         'isd_og_mou',
         'spl_og_mou',
         'total_og_mou',
         'loc_ic_mou',
         'std_ic_mou',
         'isd_ic_mou',
         'spl_ic_mou',
         'total_ic_mou',
         'total_rech_num',
         'total_rech_amt',
         'max_rech_amt',
         'total_rech_data',
         'max_rech_data',
         'av_rech_amt_data',
         'vol_2g_mb',
         'vol_3g_mb'
         ]

# Create new columns that hold the value of the difference between the variable value
# in the month of August and average of the variable values in the month of June and July

### CODE HERE ###

In [ ]:
# let's look at summary of one of the difference variables
# The variable mentioned below is the total outgoing calls minutes of usage difference between the total OG MOU in August and average of the total OG MOU of June and July

churn_filtered['total_og_mou_diff'].describe()

Delete columns that belong to the churn month (9th month)

In [ ]:
# delete all variables relating to 9th month

### CODE HERE ###

In [ ]:
# update num_cols and cat_cols column name list

# extract all names that end with 9

### CODE HERE ###

# update cal_cols so that all the variables related to the month of September are removed

### CODE HERE ###

### Checklist:
- Extracted high-value customers by filtering those customers who have recharged with an amount more than or equal to the 70th percentile of the average recharge amount in the first two months (the good phase).
- Dropped the variables created to filter hight value customers
- Created the churn variable by tagging customers who have not used either calls or internet in the month of September as 0 - not churn and 1 - churn otherwise
- Derived new features by calculating the total outgoing calls minutes of usage difference between the total OG MOU in August and average of the total OG MOU of June and July
- Removed the variables related to the churn phase

# Task 4: Data Visualization

### Description:
In this task, you will visually represent and interpret patterns, trends, and relationships within the features in your dataset.

Check the data types of the numerical and categorical columns in the data set

In [ ]:
# Ensure that all the numerical and categorical columns are of the correct data types

### CODE HERE ###

Create a function to do the univariate and bivariate analysis of the features present in the data set

In [ ]:
# create plotting functions
def data_type(variable):
    if variable.dtype == np.int64 or variable.dtype == np.float64:
        return 'numerical'
    elif variable.dtype == 'category':
        return 'categorical'

def univariate(variable, stats=True):

    if data_type(variable) == 'numerical':
        sns.distplot(variable)
        if stats == True:
            print(variable.describe())

    elif data_type(variable) == 'categorical':
        sns.countplot(variable)
        if stats == True:
            print(variable.value_counts())

    else:
        print("Invalid variable passed: either pass a numeric variable or a categorical vairable.")

## Univariate EDA

In [ ]:
# Plot the average revenue per user in June

univariate(### CODE HERE ###)

In [ ]:
# Plot the minutes of usage of local (within same telecom circle) outgoing calls of Operator T to other operator fixed line

univariate(### CODE HERE ###)

In [ ]:
# Plot the minutes of usage of STD (outside the calling circle) outgoing calls of Operator T to other operator fixed line

univariate(### CODE HERE ###)

In [ ]:
# Plot the minutes of usage of all kind of calls within the same operator network for the month of August

univariate(### CODE HERE ###)

In [ ]:
# Plot the minutes of usage of all kind of calls outside the operator T network for the month of September

univariate(### CODE HERE ###)

## Bivariate EDA

Now visualize and analyse the relationship between different features in the data set

In [ ]:
# Plot the relationship between different variables present in the data set

### CODE HERE ###

### Cap outliers in all numeric variables

Create a function to deal with outliers using the IQR method

In [ ]:
# function for capping outliers
def cap_outliers(array):

    # Get the 75% quantile of the array
    # Get the 25% quantile of the array
    # Get the interquartile range (IQR) (q3 - q1)

    ### CODE HERE ###

    # Calculate the upper limit - 75% quartile + 1.5*IQR
    # Calculate the lower limit - 25% quartile - 1.5*IQR

    ### CODE HERE ###

    # Perform outlier capping
    # Set all the values in the array above the upper limit to be equal to the upper limit
    # Set all the values in the array below the lower limit to be equal to the lower limit

    ### CODE HERE ###

    return array

The following is an example to help you understand how capping is done to treat outliers

In [ ]:
# example of capping
sample_array = list(range(100))

# add outliers to the data
sample_array[0] = -9999
sample_array[99] = 9999

# cap outliers
sample_array = np.array(sample_array)
print("Array after capping outliers: \n", cap_outliers(sample_array))

Use the outlier capping function to cap the outliers present in all the numeric columns in the data set

In [ ]:
# cap outliers in all the numeric columns using your outlier capping function

### CODE HERE ###

**Checklist:**
- Created functions to carry out univariate and bivariate analysis of the columns in the data set
- Capped outliers by creating a function and applying it on all the numerical features

# Task 5: Modeling

### Description:
In this task, you will train and evaluate predictive models using your prepared dataset.

## i) Importing necessary libraries for machine learning and deep learning

In [ ]:
#algorithms for sampling
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

#baseline linear model
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#modules for hyper parameter tuning
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

#modules for model evaluation
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score
from sklearn.metrics import precision_score, accuracy_score, f1_score, r2_score
from sklearn.metrics import precision_recall_curve, roc_curve

# Import methods for building neural networks
import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Dropout
from tensorflow.keras.optimizers import RMSprop

# Import 'KerasClassifier' from 'keras' for connecting neural networks with 'sklearn' and 'GridSearchCV'
from keras.wrappers.scikit_learn import KerasClassifier

## ii) Preprocessing data

In [ ]:
# change churn to numeric

### CODE HERE ###

In [ ]:
# Extract input and output data

### CODE HERE ###

Create dummy variables for the categorical features

In [ ]:
# Use dummy variables for categorical variables

### CODE HERE ###

### Train Test split

In [ ]:
# Divide data into train and test
# Note: Set the 'random_state' parameter to '4'
# Note: Set the 'test_size' parameter to '0.25'

### CODE HERE ###

# print shapes of train and test sets
X_train.shape
y_train.shape
X_test.shape
y_test.shape

**Checkpoint:** You must have obtained 22500 observations in the train set and 7501 observations in the test set.

In [ ]:
X_new = X.to_numpy()

#train-test split using stratified K fold
skf = StratifiedKFold(n_splits=2)
skf.get_n_splits(X_new,y)

for train_index, test_index in skf.split(X_new,y):
  X_train, X_test = X_new[train_index], X_new[test_index]
  y_train, y_test = y[train_index], y[test_index]

print('\n')
y_train.value_counts()

### Handling Class Imbalance

Classification tasks often involve datasets with class imbalances, where the number of samples in one class significantly outweighs the other(s). Class imbalance can pose significant challenges to the learning algorithms, as they tend to favor the majority class and struggle to accurately predict the minority class. Data augmentation is one such technique that you have studied earlier, however, in this case study we will be exploring class imbalance techniques as an alternative or complementary approach.

While data augmentation has proven to be a valuable tool in addressing class imbalance, recent research highlights the advantages of leveraging class imbalance techniques as a primary approach or in conjunction with augmentation methods. By explicitly addressing the class imbalance issue, these techniques ensure that the learning algorithm better captures the nuances of all classes, resulting in improved classification performance.

In this capstone, observe that the dataset is imbalanced. You should get the number of entries with output '1' approximately 1/10th of the number of entries with output '0'. This means that if we run a simple machine learning model, it should already show 90% accuracy.

It is the most important for the model to predict which customer will churn as this will decide how their business is performing. We have to create a model that will predict the output '1' accurately. But its corresponding number of entries are very less.

Hence, we will be doing some sampling methods to make the data set balanced.

1) **Random Under-Sampling**: This method basically consists of removing data in order to have a more balanced dataset and thus avoiding our models to overfitting.

We have seen how imbalanced the data set is. With random under-sampling, we have a sub-sample of our dataframe with a 50/50 ratio with regards to our classes. This means that if there are 1221 '0' class data entries, then there will be 1221 '1' class data entries by removing the rest.

Note: The main issue with "Random Under-Sampling" is that we run the risk that our classification models will not perform as accurate as we would like to since there is a great deal of information loss.

In [ ]:
# random under sampling using imblearn
# Use the RandomUnderSampler (RUS) function to produce new X and y from X_train and y_train
# Use random_state as 1 for reproducibility

rus = RandomUnderSampler(random_state=1)
X_rus, y_rus = ### CODE HERE ###

y_rus.value_counts()

In [ ]:
X_train_rus, X_test_rus, y_train_rus, y_test_rus = train_test_split(X_rus, y_rus, test_size=0.2, random_state=42, stratify=y_rus)
y_train_rus.value_counts()

1) **Random Over-Sampling**: This method basically consists of adding data in order to have a more balanced dataset and thus avoiding our models to overfitting.

We have seen how imbalanced the data set is. With random over-sampling, we have a sub-sample of our dataframe with a 50/50 ratio with regards to our classes. This means that if there are 13780 '1' class data entries, then there will be 13780 '0' class data entries by removing the rest.

In [ ]:
# random over sampling with imblearn
# Use the RandomOverSampler (ROS) function to produce new X and y from X_train and y_train
# Use random_state as 1 for reproducibility

ros = RandomOverSampler(random_state=1)
X_ros, y_ros = ### CODE HERE ###

y_ros.value_counts()

In [ ]:
#train Test split
X_train_ros, X_test_ros, y_train_ros, y_test_ros = train_test_split(X_ros, y_ros, test_size=0.2, stratify=y_ros, random_state=42)
y_train_ros.value_counts()

Now, let's test different machine learning models over the three data sets, namely, the original cleaned data set, the under-sampled data set and the over-sampled data set.

## Logistic Regression

Build a logistic regression model without applying any techniques to address class imbalance

In [ ]:
# Defining the logistic regression model and fit it on the normal X_train and y_train
# 'penalty' is set to 'none'
# 'solver' is set to 'lbfgs'
# 'random_state' is set to 0
# 'max_iter' is set to 100
# You can change these values or use GridSearchCV to perform hyperparameter tuning to find the optimal performing model
model_name = 'Logistic Regression - without balancing'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# creating a dataframe to compare the performance of different models
model_eval_data = [[model_name, log_train_acc, log_val_acc, f_score, precision, recall]]
evaluate_df = pd.DataFrame(model_eval_data, columns=['Model Name', 'Training Score', 'Testing Score',
                                          'F1 Score', 'Precision', 'Recall'])

Train a logistic regression model on a balanced data set achieved through random undersampling

In [ ]:
  # Defining the logistic regression model and fit it on the random under sampled X_train_rus and y_train_rus
# 'penalty' is set to 'none'
# 'solver' is set to 'lbfgs'
# 'random_state' is set to 0
# 'max_iter' is set to 100
model_name = 'Logistic Regression - Random Undersampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, log_train_acc, log_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a logistic regression model on a balanced dataset achieved through random oversampling

In [ ]:
# Defining the logistic regression model and fit it on the random over sampled X_train_ros and y_train_ros
# 'penalty' is set to 'none'
# 'solver' is set to 'lbfgs'
# 'random_state' is set to 0
# 'max_iter' is set to 100
model_name = 'Logistic Regression - Random Oversampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, log_train_acc, log_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

## Decision Tree

Build a decision tree model without applying any techniques to address class imbalance

In [ ]:
# Defining the decision tree model and fit it on the normal X_train and y_train
# 'max_depth' is set to 50
# 'random_state' is set to 0
# You can change these values or use GridSearchCV to perform hyperparameter tuning to find the optimal performing model
model_name = 'Decision Tree - without balancing'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, tree_train_acc, tree_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a decision tree model on a balanced dataset achieved through random undersampling

In [ ]:
# Defining the decision tree model and fit it on the random under sampled X_train_rus and y_train_rus
# 'max_depth' is set to 50
# 'random_state' is set to 0
model_name = 'Decision Tree - Random Undersampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, tree_train_acc, tree_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a decision tree model on a balanced dataset achieved through random oversampling

In [ ]:
# Defining the decision tree model and fit it on the random over sampled X_train_ros and y_train_ros
# 'max_depth' is set to 50
# 'random_state' is set to 0
model_name = 'Decision Tree - Random Oversampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, tree_train_acc, tree_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

## kNN

Build a KNN model without applying any techniques to address class imbalance

In [ ]:
# Defining the kNN model and fit it on the normal X_train and y_train
# 'n_neighbors' is set to 14
# You can change these values or use GridSearchCV to perform hyperparameter tuning to find the optimal performing model
model_name = 'kNN - without balancing'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, knn_train_acc, knn_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a KNN model on a balanced dataset achieved through random undersampling

In [ ]:
# Defining the kNN model and fit it on the random under sampled X_train_rus and y_train_rus
# 'n_neighbors' is set to 14
model_name = 'kNN - Random Undersampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, knn_train_acc, knn_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a KNN model on a balanced dataset achieved through random oversampling

In [ ]:
# Defining the kNN model and fit it on the random over sampled X_train_ros and y_train_ros
# 'n_neighbors' is set to 14
model_name = 'kNN - Random Oversampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, knn_train_acc, knn_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

## Random Forest Classifier

Build a random forest model without applying any techniques to address class imbalance

In [ ]:
# Defining the Random Forest Classifier model and fit it on the normal X_train and y_train
# 'n_estimators' is set to 200
# 'max_depth' is set to 5
# 'class_weight' is set to 'balanced'
# 'random_state' is set to 123
# You can change these values or use GridSearchCV to perform hyperparameter tuning to find the optimal performing model
model_name = 'Random Forest - without balancing'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, rf_train_acc, rf_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a random forest model on a balanced dataset achieved through random undersampling

In [ ]:
# Defining the Random Forest Classifier model and fit it on the random under sampled X_train_rus and y_train_rus
# 'n_estimators' is set to 200
# 'max_depth' is set to 5
# 'class_weight' is set to 'balanced'
# 'random_state' is set to 123
model_name = 'Random Forest - Random Undersampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, rf_train_acc, rf_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Train a random forest model on a balanced dataset achieved through random oversampling

In [ ]:
# Defining the Random Forest Classifier model and fit it on the random over sampled X_train_ros and y_train_ros
# 'n_estimators' is set to 200
# 'max_depth' is set to 5
# 'class_weight' is set to 'balanced'
# 'random_state' is set to 123
model_name = 'Random Forest - Random Oversampling'

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# adding calculations to dataframe
model_eval_data = [model_name, rf_train_acc, rf_val_acc, f_score, precision, recall]
model_eval_dict = {evaluate_df.columns[i]:model_eval_data[i] for i in range(len(model_eval_data))}
evaluate_df = evaluate_df.append(model_eval_dict, ignore_index=True)

Compare the performances of the different predictive models that you built above

In [ ]:
evaluate_df

In this case study, the most important factor in the prediction performance of a machine learning model is that it should be able to predict the positive class as accurately as possible. This means that the false negatives and false positives are supposed to be as minimal as possible. This further means that precision and recall should be as high as possible.

There is another factor to consider. The most important factor which can lead to a company loss is the false negatives. This is because if we predict that a customer did not churn but in reality, the customer did, the company will miss out on the data of churned customers. Hence, observing the recall factor is much more important than precision.

## Hyperparameter tuning using GridSearchCV

Choose the model that performs in a robust manner with good accuracy, precision and recall. Especially look out for the recall value because a good recall value means that it is able to accurately classify the data examples of the customers who churned

In [ ]:
# Define your model and parameter grid
# Make sure to use random_state value as 0

### CODE HERE ###

# Perform GridSearchCV

### CODE HERE ###

# Display the best combination of parameters obtained from GridSearchCV

### CODE HERE ###

Retrain your model on the combination of parameters obtained from GridSearchCV

In [ ]:
# Re-fit your model with the combination of parameters obtained from GridSearchCV
# Make sure to use random_state value as 0

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

In [ ]:
# Find the importance of all the features according to the optimal model defined above

### CODE HERE ###

Create a dataframe with the feature importance in descending order so that the highest important features are shown at the start of the dataframe

In [ ]:
# Display the dataframe obtained

### CODE HERE ###

Assess the performance of your model on different evaluation metrics

In [ ]:
# Evaluating the model on the training and validation sets using accuracy, confusion metrics and AUC of ROC

### CODE HERE ###

## Neural Networks

Create a neural network model with the defined set of hyperparameters

In [ ]:
# Define a function to create a neural network model and specify default values for variable hyperparameters
# Note: The number of hidden layers is fixed at 2
# Note: The number of neurons in the second hidden layer is fixed at 64
# Note: The output layer activation function is fixed as 'sigmoid'

# You can change the hyperparameters mentioned as arguments in the create_nn function
# So that you can use them in GridSearchCV hyperparameter tuning
# Feel free to modify the model too and test the model performance
# You can add more types of layers like Dropout, Batch normalization etc.

# Note: The variable hyperparameters list is the activation functions of the hidden layers and number of neurons in the first hidden layer
def create_nn(activation_function = 'relu',
              hidden1_neurons = 256):

    # Declare an instance of an artificial neural network model using the 'Sequential()' method
    nn = ### CODE HERE ###

    # keras.Input is the input layer of the neural network
    nn.### CODE HERE ###

    # Add a hidden layer using the 'add()' and 'Dense()' methods
    # Note: Set the 'units' parameter to 'hidden1_neurons'  - This specifies the number of neurons in the hidden layer
    # Note: Set the 'activation' parameter to 'activation_function' - This specifies the activation function parameter defined in the custom function
    nn.### CODE HERE ###

    # Add a hidden layer using the 'add()' and 'Dense()' methods
    # Note: Set the 'units' parameter to 64  - This specifies the number of neurons in the hidden layer
    # Note: Set the 'activation' parameter to 'activation_function' - This specifies the activation function parameter defined in the custom function
    nn.### CODE HERE ###

    # Add the output layer using the 'add()' and 'Dense()' methods
    # Note: Set the 'units' parameter to 1 - Binary classification
    # Note: Set the 'activation' parameter to 'sigmoid' - The sigmoid activation function is used for output layer neurons in binary classification tasks
    nn.### CODE HERE ###

    # Compile the model using the 'compile()' method
    # Note: Set the 'loss' parameter to 'binary_crossentropy' - The binary crossentropy loss function is commonly used for binary classification tasks
    # Note: Set the 'metrics' parameter to 'accuracy' - This records the accuracy of the model along with the loss during training
    # Note: Set the 'optimizer' parameter to 'RMSprop' and set its 'learning_rate' parameter to 'learning_rate_value' - This specifies the learning rate value defined in the custom function
    nn.### CODE HERE ###

    return nn

In [ ]:
# Create a default neural network using the 'create_nn' function and train it on the training data
nn1 = ### CODE HERE ###

# Capture the training history of the model using the 'fit()' method
# Note: Set the 'validation_data' parameter to (X_val, y_val)
# Note: Set the 'epochs' parameter to 10 - This specifies the scope of loss computations and parameter updates
nn1.summary()
print('\n')
nn1_history = ### CODE HERE ###

In [ ]:
# Convert the neural network history object into a data frame to view its specifics
import pandas as pd
hist = pd.DataFrame(nn1_history.history)
hist['epoch'] = nn1_history.epoch
hist['epoch'] = hist['epoch'].apply(lambda x: x + 1)
hist.set_index('epoch')

Plot the training and validation accuracies for different values of epoch

In [ ]:
# View the training and validation accuracies as functions of epoch
plt.figure(figsize = (14, 4))

sns.lineplot(data = hist, x = 'epoch', y = 'accuracy', color = 'red', label = 'Training')
sns.lineplot(data = hist, x = 'epoch', y = 'val_accuracy', color = 'blue', label = 'Validation')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.title('Accuracy as a Function of Epoch');

Assess the performance of the model on the validation data set

In [ ]:
# Compute the final accuracy of the model on the validation data set using the 'evaluate()' method
performance_test = nn1.evaluate(X_test, y_test)

print('The loss value of the model on the validation data is {}'.format(performance_test[0]))
print('The accuracy of the model on the validation data is {}'.format(performance_test[1]))

Find the optimal parameters using GridSearchCV

In [ ]:
# Initialize a basic NN object using the 'KerasClassifier()' method
# Note: Set the 'build_fn' parameter to 'create_nn' - This converts the 'create_nn' function into a 'KerasClassifier' object
base_grid_model = KerasClassifier(### CODE HERE ###)

# Define a list of 'activation_function' and 'hidden1_neurons' parameters and store it in a parameter grid dictionary
parameters_grid = {'activation_function': ['relu','sigmoid'],
                   'hidden1_neurons': [256, 512]}

# Perform a grid search using the 'GridSearchCV()' method to obtain a grid on which to fit the training data
# Note: Set the 'estimator' parameter to 'base_grid_model' - This specifies the estimator to be used by 'GridSearchCV()'
# Note: Set the 'param_grid' parameter to 'parameters_grid' - This specifies the grid of parameters to search over
# Note: Set the 'cv' parameter to 2 - This specifies the number of folds in the cross-validation process
# Note: Set the 'verbose' parameter to 4 - This helps show more relevant information during training
grid = GridSearchCV(### CODE HERE ###)

# Train the model on the training data using the 'fit()' method
# Note: Use the default batch size or set it to 32
# Note: Set the 'epochs' parameter to 10
# Note: The 'validation_split' parameter isn't particularly required since cross-validation is already in place
grid_model = grid.fit(### CODE HERE ###)

# Print the optimal values of 'activation_function' and 'hidden1_neurons'
best_activation_function = grid_model.best_params_['activation_function']
best_hidden1_neurons = grid_model.best_params_['hidden1_neurons']
best_accuracy = grid_model.best_score_

print('\n The optimal value of convolution filter size is', best_activation_function)
print('\n The optimal value of maxpooling filter size is', best_hidden1_neurons)
print('\n The accuracy of the model with these optimal parameters is ', best_accuracy)

Retrain the model with the optimal combination of hyperparameters and save its training history

In [ ]:
# Use the 'create_nn' function to create a NN with the optimal values of 'filter_size' and 'pool_filter_size'
# Note: Set the 'activation_function' parameter to 'best_activation_function' - This specifies the optimal value for the 'activation_function' parameter
# Note: Set the 'hidden1_neurons' parameter to 'best_hidden1_neurons' - This specifies the optimal value for the 'hidden1_neurons' parameter
nn1 = create_nn(### CODE HERE ###)

# Capture the training history of the model using the 'fit()' method
# Note: Set the 'validation_data' parameter to (X_val, y_val)
# Note: Use the default batch size or set it to 32
# Note: Set the 'epochs' parameter to 10
nn1.summary()
print('\n')
nn1_history = nn1.fit(### CODE HERE ###)
hist = pd.DataFrame(nn1_history.history)
hist['epoch'] = nn1_history.epoch

Plot the training and validation accuracies for different values of epoch

In [ ]:
# View the training and validation accuracies as functions of epoch
plt.figure(figsize = (14, 4))

sns.lineplot(data = hist, x = 'epoch', y = 'accuracy', color = 'red', label = 'Training')
sns.lineplot(data = hist, x = 'epoch', y = 'val_accuracy', color = 'blue', label = 'Validation')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.title('Accuracy as a Function of Epoch');

Evaluate the performance of the model on the testing data

In [ ]:
# Compute the accuracy of the model on the testing data set using the 'evaluate()' method
performance_test = nn1.evaluate(X_test, y_test)

print('The loss value of the model on the test data is {}'.format(performance_test[0]))
print('The accuracy of the model on the test data is {}'.format(performance_test[1]))

### Find the optimal parameters using RandomizedSearchCV

Randomized search cross-validation is a technique used for hyperparameter optimization in machine learning models. It is an alternative to grid search, which exhaustively searches through all possible combinations of hyperparameters.

In randomized search cross-validation, instead of trying every combination, a fixed number of random combinations of hyperparameters are sampled from a predefined search space. This approach allows for a more efficient exploration of the hyperparameter space, especially when the search space is large.


You can understand about its implementation [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html).

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

# Define the parameter distribution for randomized search
parameters_dist = {
    'activation_function': ['relu', 'sigmoid'],
    'hidden1_neurons': randint(256, 513)  # Range of values for hidden1_neurons
}

# Initialize a basic NN object using the 'KerasClassifier()' method
base_random_model = KerasClassifier(### CODE HERE ###)

# Perform randomized search using the 'RandomizedSearchCV()' method

# Note: Set the 'estimator' parameter to 'base_random_model' - This specifies the estimator to be used by 'RandomizedSearchCV()'
# Note: Set the 'param_distributions' parameter to 'parameters_dist' - This specifies the parameters to search over
# Note: Set the 'cv' parameter to 2 - This specifies the number of folds in the cross-validation process
# Note: Set the 'n_iter' parameter to 2 - This specifies the number of parameter settings that are sampled
# Note: Set the 'verbose' parameter to 4 - This helps show more relevant information during training
# Note: Set the 'random_state' parameter to 0 - This helps generate the consistent results across multiple runs
randomized_search = RandomizedSearchCV(### CODE HERE ###)

# Train the model on the training data using the 'fit()' method
# Note: Set the 'epochs' parameter to 10
randomized_model = randomized_search.fit(### CODE HERE ###)

# Print the optimal values of 'activation_function' and 'hidden1_neurons'
best_activation_function = randomized_model.best_params_['activation_function']
best_hidden1_neurons = randomized_model.best_params_['hidden1_neurons']
best_accuracy = randomized_model.best_score_

print('\nThe optimal value of activation function is', best_activation_function)
print('\nThe optimal value of hidden1_neurons is', best_hidden1_neurons)
print('\nThe accuracy of the model with these optimal parameters is', best_accuracy)

Retrain the model on the optimal set of hyperparameters

In [ ]:
# Use the 'create_nn' function to create a NN with the optimal values of 'filter_size' and 'pool_filter_size'
# Note: Set the 'activation_function' parameter to 'best_activation_function' - This specifies the optimal value for the 'activation_function' parameter
# Note: Set the 'hidden1_neurons' parameter to 'best_hidden1_neurons' - This specifies the optimal value for the 'hidden1_neurons' parameter
nn2 = create_nn(### CODE HERE ###)

# Capture the training history of the model using the 'fit()' method
# Note: Set the 'validation_data' parameter to (X_val, y_val)
# Note: Use the default batch size or set it to 32
# Note: Set the 'epochs' parameter to 10
nn2.summary()
print('\n')
nn2_history = nn2.fit(### CODE HERE ###)
hist = pd.DataFrame(nn2_history.history)
hist['epoch'] = nn2_history.epoch

Plot the training and validation accuracies for different values of epoch

In [ ]:
# View the training and validation accuracies as functions of epoch
plt.figure(figsize = (14, 4))

sns.lineplot(data = hist, x = 'epoch', y = 'accuracy', color = 'red', label = 'Training')
sns.lineplot(data = hist, x = 'epoch', y = 'val_accuracy', color = 'blue', label = 'Validation')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.title('Accuracy as a Function of Epoch');

Evaluate the performance of the model on the testing data

In [ ]:
# Compute the accuracy of the model on the testing data set using the 'evaluate()' method
performance_test = nn2.evaluate(X_test, y_test)

print('The loss value of the model on the test data is {}'.format(performance_test[0]))
print('The accuracy of the model on the test data is {}'.format(performance_test[1]))

**Checklist:**
- Importing necessary libraries for machine learning and deep learning
- Preprocessed the data
- Divided the data set into train and test splits
- Handled class imbalance using random undersampling and random oversampling
- Built and evaluated different machine learning models such as logistic regression, decision trees, KNN and random forest models with and without treating class imbalance
- Tuned the best machine learning using GridSearchCV for the optimal hyperparameters
- Built and evaluated a neural network model and tuned for its hyperparameters using GridSearchCV and RandomizedSearchCV

## Task 6: Business Insights: Misclassification Costs
Our first step is to understand the current profitability of the telecomminucation service program, and then to is to estimate the impact of our model. We are going to use misclassification costs to study the impact.

We are going to use \$500 as an approximation company loss for the false negative cost, and \$300 company loss for the false positive cost. Note: We are interested in finding the best cut-off that will maximize the benefit of our machine learning model.

In [ ]:
# Define the false positive and false negative missclassification cost here

fn_cost = ### CODE HERE ###
fp_cost = ### CODE HERE ###

#### We will use the optimal model and its corresponding data set that was implemented in the GridSearchCV section. Let's first see the performance metrics of the trained model.

In [ ]:
# Use the most optimal machine learning model that you obtained from the GridSearchCV section and the corresponding data set you used (normal, RUS or ROS)

### CODE HERE ###

# Evaluating the accuracy of the training and validation sets

### CODE HERE ###

# Calculate the F1 score, Precision and Recall on the validation set

### CODE HERE ###

# creating a dataframe to compare the performance of different models
new_model_eval_data = [[model_name, tree_train_acc, tree_val_acc, f_score, precision, recall]]
new_evaluate_df = pd.DataFrame(new_model_eval_data, columns=['Model Name', 'Training Score', 'Testing Score',
                                          'F1 Score', 'Precision', 'Recall'])

In [ ]:
new_evaluate_df

#### We now calculate the current misclassification cost in the validation set.

In [ ]:
# Obtain the count of false positive and false negative classifications from your model

### CODE HERE ###

# Calculate the total misclassification cost using the FN and FP cost and FN and FP count

### CODE HERE ###

print('Number of False Positives: %d' % fp_count)
print('Number of False Negatives: %d' % fn_count)
print('Prediction Misclassification Cost: %.2f' % misclassification_cost)

#### We now calculate the misclassification cost as we raise the cut-off value from 0 to 1.

In [ ]:
# Predict probabilities for the training set and retain them for only positive outcomes
lr_probs_train = ### CODE HERE ###

# Predict probabilities for the validation set and retain them for only positive outcomes
lr_probs_val = ### CODE HERE ###

In [ ]:
# Calculate and store the misclassification costs for different values of cut-off probability
cost_train = []
cost_val=[]

for cutoff in np.arange(0, 1, 0.01):
    # Get the classification predictions using the probabilities obtained for the training data set and the cutoff
    # Get the false positive and false negative count from the predictions
    # Calculate the training misclassification cost and append it to the cost_train array
    curr_preds = ### CODE HERE ###
    curr_cf = ### CODE HERE ###
    curr_fp_count = ### CODE HERE ###
    curr_fn_count = ### CODE HERE ###

    curr_misclassification_cost = ### CODE HERE ###
    cost_train.append(curr_misclassification_cost)

    # Get the classification predictions using the probabilities obtained for the validation data set and the cutoff
    # Get the false positive and false negative count from the predictions
    # Calculate the training misclassification cost and append it to the cost_val array
    curr_preds = ### CODE HERE ###
    curr_cf = ### CODE HERE ###
    curr_fp_count = ### CODE HERE ###
    curr_fn_count = ### CODE HERE ###

    curr_misclassification_cost = ### CODE HERE ###
    cost_val.append(curr_misclassification_cost)


# Get the X values (cut-off values)
cutoffs = np.arange(0, 1, 0.01)

# Plot misclassification cost against cut-off value
plt.plot(cutoffs,cost_train, label='Training')
plt.plot(cutoffs,cost_val, label='Validaiton')
plt.xlabel('Cut-off')
plt.ylabel('Misclassification Cost')
plt.legend()
plt.show()

# Find the minimum misclassification cost and its associated cut-off value based on the training data
best_cost = min(cost_train)
best_cutoff = cutoffs[cost_train.index(best_cost)]

#apply the cut-off value to the validation data
best_valcost = cost_val[cost_train.index(best_cost)]


print('Best Misclassification Cost on the training is %.2f at Cut-off %.3f' % (best_cost, best_cutoff));
print('Applying that cut-off to the validation data results in Misclassification Cost of %.2f ' % best_valcost);

Checklist:
 - Chose the optimal model and calculated the current misclassification cost in the validation set
 - Calculated the misclassification cost for different values of cut-off value from 0 to 1
 - Found the minimum misclassification cost and its associated best cut-off value based on the training data
 - Applyied the same cut-off to the validation data